{% load i18n %}
{% load bw_form_helpers development_tags %}

<div class="flex">
       <input type="checkbox"
              disabled
              class="{{ BW_PRELINE_CHECKBOX_CSS_CLASSES }}"
              id="{{ input_id }}"
              name="{{ input_name }}"
              value="{{ input_value }}"
              {% if is_checked is True or input_value in field.value %}checked{% endif %} />
       <label for="{{ input_id }}"
              class="text-sm text-gray-800 ml-2 dark:text-gray-400">{{ checkbox_txt }}</label>
</div>
