{% load i18n %}
{% load bw_form_helpers development_tags %}

<div class="flex my-1.5">
       <input type="checkbox"
              disabled
              class="{{ BW_PRELINE_CHECKBOX_CSS_CLASSES }}"
              id="{{ field.id_for_label }}"
              name="{{ field.data.name }}"
              value="{{ field.data.value }}"
              {% if is_checked is True or field.data.selected is True %}checked{% endif %} />
       <label for="{{ field.id_for_label }}"
              class="text-sm text-gray-800 ml-2 dark:text-gray-400">
              {{ field.choice_label }}
              {% comment  %}
                     <span class="text-xs text-gray-500 font-semibold mx-3 italic">
                     kkkk
              </span>
              {% endcomment %}
       </label>
</div>
