{% load i18n %}

<div class="flex">
    <input type="radio"
           class="{{ BW_FULL_INPUT_CSS_CLASSES }} shrink-0 mt-0.5 border-gray-200 rounded-full text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800"
           id="{{ input_id }}" name="{{ input_name|default:'' }}"
           value="{{ input_value|default:'' }}"
           {% if is_checked %}checked{% endif %} />
    <label for="{{ input_id }}"
           class="text-sm text-gray-500 ml-2 dark:text-gray-400">{{ input_lbl }}</label>
</div>
