{% load i18n %}
{% load bw_form_helpers %}

{# {% print bound_field %} #}
<div class="{% if tooltip_text %} hs-tooltip  {% endif %}lex items-center">
    <input type="checkbox"
           id="{{ bound_field.id_for_label }}"
           class="{{ BW_FULL_INPUT_CSS_CLASSES }}
                  {% if tooltip_text %}hs-tooltip-toggle{% endif %}
                  relative shrink-0 w-[3.25rem] h-7 bg-gray-100 checked:bg-none checked:bg-blue-600 border-2 border-transparent rounded-full cursor-pointer transition-colors ease-in-out duration-200 ring-1 ring-transparent focus:border-blue-600 focus:ring-blue-600 ring-offset-white focus:outline-none appearance-none dark:bg-gray-700 dark:checked:bg-blue-600 dark:focus:ring-offset-gray-800  before:inline-block before:w-6 before:h-6 before:bg-white checked:before:bg-blue-200 before:translate-x-0 checked:before:translate-x-full before:shadow before:rounded-full before:transform before:ring-0 before:transition before:ease-in-out before:duration-200 dark:before:bg-gray-400 dark:checked:before:bg-blue-200"
           {% if bound_field.value is True %}checked{% endif %}
           disabled
           name="{{ bound_field.name }}" />
    {% if description %}
        <label for="{{ bound_field.id_for_label }}"
               class="text-sm text-gray-500 ml-3 dark:text-gray-400">
            {% translate description %}
        </label>
    {% endif %}
    {% if tooltip_text %}
        <div class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
             role="tooltip">{% translate tooltip_text %}</div>
    {% endif %}
</div>
