{% load i18n %}
variant
{{ BW_DISABLED_DISABLED_INPUTS_CSS_CLASSES }}
{% var btn_color=btn_color|default:"bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2" %}
{% var is_rounded=is_rounded|default:"" %}
{% var is_full_width="w-full"|default:"" %}
{% if btn_type == "solid" %}
    <button {% attrs type id data-pk %}
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold transition-all text-sm dark:focus:ring-offset-gray-800 {{ is_rounded }} {{ is_full_width }}">
        {{ btn_text }}
    </button>
{% elif btn_type == "outline" %}
    <button {% attrs type id data-pk %}
            class="py-[.688rem] px-4 inline-flex justify-center items-center gap-2 rounded-md border-2 border-gray-200 font-semibold text-blue-500 hover:text-white hover:bg-blue-500 hover:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:border-gray-700 dark:hover:border-blue-500 {{ is_rounded }} {{ is_full_width }}">
        {{ btn_text }}
    </button>
{% elif btn_type == "ghost" %}
    <button {% attrs type id data-pk %}
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold text-blue-500 hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm {{ is_rounded }} {{ is_full_width }}">
        {{ btn_text }}
    </button>
{% elif btn_type == "soft" %}
    <button {% attrs type id data-pk %}
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm {{ is_rounded }} {{ is_full_width }}">
        {{ btn_text }}
    </button>
{% elif btn_type == "white" %}
    <button {% attrs type id data-pk %}
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
        {{ btn_text }}
    </button>
{% else %}
    <button {% attrs type id data-pk %}
            class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800 {{ is_rounded }} {{ is_full_width }}">
        {{ btn_text }}
    </button>
{% endif %}
