{% load i18n %}

<div class="hs-tooltip inline-block">
    <button type="button"
            class="hs-tooltip-toggle {{ BW_FULL_INPUT_CSS_CLASSES }} py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-100 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
            disabled
            id="{{ js_create_btn_css_id }}"
            data-hs-overlay="#{{ modal_css_id }}">
        {% translate btn_txt %}
        <svg class="w-3.5 h-3.5"
             xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             viewBox="0 0 16 16"
             fill="none">
            <path d="M2.63452 7.50001L13.6345 7.5M8.13452 13V2" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
        </svg>
        <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
              role="tooltip">{% translate "Create new "|add:app_name %}</span>
    </button>
</div>
