_base_app_packages
.env_dotenv
.flake8
.gitignore
.htmlhintrc
.stylelintrc.json
.idea
.pytype
.vscode
.unotes
conda.yml
src/frontend/node_modules
src/frontend/package-lock.json
src/frontend/build
src/htmlcov
src/key.pem
src/cert.pem
src/cronlog.log
src/local_dev.sqlite3
*.pyc
__pycache__
**/__pycache__/**
.git
src/media/
.editorconfig
.gitattributes
.github
.gitlab-ci.yml
.pre-commit-config.yaml
.readthedocs.yml
.travis.yml
venv
.envs/
# Ignore docker files
.dockerignore
Dockerfile*
docker-compose*

# Ignore .git
/.git
# Ignore bundler config.
/.bundle
vendor/bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

.env
.env.*

*.md

spec

migration.log

# Ignore editor specific configs
/.idea
/.vscode
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.generators
.rakeTasks

# System Files
.DS_Store
Thumbs.db

*.log
*.pot
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Only for Development only
**/migrations/**
!**/migrations
!**/migrations/__init__.py
!src/reports/migrations/0001_create_client_jobs_db_view.py
.venv
cert.pem
key.pem
*.pyo
*.pyd
.Python
.pnpm-store

