{% extends "core/layouts/dashboard_content_base.html" %}

{% load i18n %}

{% load humanize %}
{% load tailwind_filters %}
{% load bw_users_tags %}
{% load static %}

{% block dashboard_content_block %}
  <div class="grid grid-cols-12 gap-4 w-full max-w-12xl">
    {# Start Left Aside #}
    <div class="col-span-12 md:col-span-7 p-4 rounded-lg shadow">
      <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
        {# Start Header #}
        <section id="header-title-wrapper" class="mb-3">
          <div class="flex justify-between">
            <div>
              <h1 class="text-2xl font-bold text-gray-800 dark:text-white inline-block">
                {{ object.title|capfirst|truncatechars:50 }}
              </h1>
              <span class="inline-block mx-2 text-sm">
                <a href="#">@{{ object.get_managed_user }}</a>
              </span>
              <div class="hs-tooltip inline-block">
                <button type="button" class="hs-tooltip-toggle">
                  <span class="inline-block text-sm text-gray-500">{{ object.created_at|naturaltime }}</span>
                  <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                        role="tooltip">{% translate "Created at" %}</span>
                </button>
              </div>
            </div>
            <div>
              <div class="hs-tooltip inline-block">
                <div class="hs-tooltip inline-block">
                  <button type="button" class="hs-tooltip-toggle">
                    <span class="m-1 inline-flex justify-center items-center w-[33px] h-[33px] rounded-full
                                 {% if object.is_seen is False %}
                                   bg-yellow-100 text-yellow-500
                                 {% else %}
                                   bg-blue-100 text-blue-500
                                 {% endif %}">
                      <i class="fa-solid fa-eye-slash w-4 h-4"></i>
                    </span>
                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                          role="tooltip">{% translate "Not seen or opened by manager" %}</span>
                  </button>
                </div>
              </div>
              {% bw_badge code=object.status text=object.get_status_display is_solid=False size="sm" extra_css_classes="bottom-1 relative" %}
              <div class="hs-tooltip inline-block">
                <a href="{% url 'dashboard:special_assignment:update' object.pk %}"
                   class="hs-tooltip-toggle">
                  <span class="m-1 inline-flex justify-center items-center w-[33px] h-[33px] rounded-full bg-green-100 text-green-500">
                    <i class="fa-solid fa-pencil w-4 h-4"></i>
                  </span>
                  <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                        role="tooltip">{% translate "Update" %}</span>
                </a>
              </div>
            </div>
          </div>
          <hr class="my-2" />
        </section>
        {# End Header #}
        {# Start Title #}
        <article id="full-title-wrapper">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-3">
            {{ object.title|capfirst }}
          </h3>
        </article>
        {# End Title #}
        {# Start Start Description or Body #}
        <article id="body-wrapper">
          <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-3">
            {% translate "Description" %}
          </h3>
          <p>{{ object.body|safe }}</p>
          <hr class="my-3" />
        </article>
        {# End Start Description or Body #}
        {# Start Note #}
        {% if object.notes %}
          <article id="note-wrapper">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-3">{% translate "Notes" %}</h3>
            <p>{{ object.notes|safe }}</p>
            <hr class="my-3" />
          </article>
        {% endif %}
        {# End Note #}
        {# Start Attachments #}
        {% if object.attachment %}
          <article id="attachments-wrapper">
            <h3 class="text-lg font-bold text-gray-800 dark:text-white mb-3">
              {% translate "Attachments" %}
            </h3>
            <p>
              <a href="{{ object.attachment.url }}"
                 download="{{ object.attachment.url }}"
                 class="{{ BW_PRELINE_ANCHOR_TAG_DEFAULT_COLOR }}">
                <i class="fa-solid fa-paperclip"></i>
                <span class="inline-block mx-3">{{ object.attachment.name }}</span>
              </a>
            </p>
          </article>
        {% endif %}
        {# End Attachments #}
      </div>
    </div>
    {# End Left Aside #}
    <!-- ... -->
    {# Start Right Aside #}
    <div class="col-span-12 md:col-span-5 p-4 rounded-lg shadow">
      <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
        {# Start Client #}
        <section class="mb-3">
          {% if object.client %}
            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
              <div class="flex-shrink-0 group block">
                <div class="flex items-center">
                  {% if object.client.company_logo %}
                    <img class="inline-block flex-shrink-0 w-[30px] h-[30px] rounded-full"
                         src="{{ object.client.company_logo.url }}"
                         alt="{{ object.client.name }}" />
                  {% else %}
                    <i class="fa-solid fa-building inline-block flex-shrink-0 rounded-full"></i>
                  {% endif %}
                  <div class="ml-3">
                    <h3 class="font-semibold text-sm text-gray-800 dark:text-white">{{ object.client.name }}</h3>
                    <p class="text-sm font-medium text-gray-400">{% translate "Client name" %}</p>
                  </div>
                </div>
              </div>
            </div>
          {% elif object.job %}
            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
              <div class="flex-shrink-0 group block">
                <div class="flex items-center">
                  <span class="m-1 inline-flex justify-center items-center w-[20px] h-[20px] rounded-full bg-blue-100 text-blue-600">
                    <i class="fa-solid fa-briefcase w-5 h-5"></i>
                  </span>
                  <div class="ml-3">
                    <h6 class="font-semibold text-sm text-gray-800 dark:text-white">
                      <a href="{% url 'dashboard:job:details' object.job.pk %}">
                        {{ object.job.title|safe|truncatechars:40 }}
                      </a>
                    </h6>
                    <p class="text-sm font-medium text-gray-400">{% translate "Job title" %}</p>
                  </div>
                </div>
              </div>
            </div>
          {% endif %}
          {# Start Start Client Job #}
          <section class="my-2">
            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
              <div class="flex-shrink-0 group block">
                <div class="flex items-center">
                  {% if object.get_managed_user.profile.profile_picture %}
                    <img class="inline-block flex-shrink-0 w-[20px] h-[20px] rounded-full"
                         src="{{ object.get_managed_user.profile.profile_picture.url }}"
                         alt="{{ object.get_managed_user.fullname }}" />
                  {% else %}
                    <img class="inline-block flex-shrink-0 w-[20px] h-[20px] rounded-full"
                         src="{% static 'img/default_staff.png' %}"
                         alt="{{ object.get_managed_user.fullname }}" />
                  {% endif %}
                  <div class="ml-3">
                    <h3 class="font-semibold text-sm text-gray-800 dark:text-white">
                      {{ object.get_managed_user }}
                    </h3>
                    <p class="text-sm font-medium text-gray-400">{% translate "Assigned to" %}</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          {# End Start Client Job #}
          {# Start Start Assigned By #}
          <section>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
              <div class="flex-shrink-0 group block">
                <div class="flex items-center">
                  {% if object.assigned_by.get_staff_member_object.staff_object.profile.profile_picture %}
                    <img class="inline-block flex-shrink-0 w-[20px] h-[20px] rounded-full"
                         src="{{ object.assigned_by.get_staff_member_object.staff_object.profile.profile_picture.url }}"
                         alt="{{ object.assigned_by.fullname }}" />
                  {% else %}
                    <img class="inline-block flex-shrink-0 w-[20px] h-[20px] rounded-full"
                         src="{% static 'img/default_staff.png' %}"
                         alt="{{ object.assigned_by.fullname }}" />
                  {% endif %}
                  <div class="ml-3">
                    <h3 class="font-semibold text-sm text-gray-800 dark:text-white">
                      {{ object.assigned_by.fullname }}
                    </h3>
                    <p class="text-sm font-medium text-gray-400">{% translate "Assigned By" %}</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          {# End Start Assigned By #}
        </section>
        {# End Client #}
      </div>
      {# Start Discussion box #}
      {% bw_discussion_chatbox object=object user=request.user display_form=True %}
      {# End Discussion box #}
    </div>
    {# End Right Aside #}
  </div>
{% endblock dashboard_content_block %}
