{% extends "core/layouts/dashboard_content_base.html" %}

{% load development_tags %}

{% block dashboard_content_block %}
    {# Page Heading #}

    {% include "components/inc/dashboard/content_header.html" with title="Special assignments" subtitle="Special assignments" is_show_create_btn=True app_label=app_label actions_base_url="dashboard:special_assignment" %}

    {# End Page Heading #}
    {% if object_list %}
        <!-- Table Section -->

        {% include "bw_components/special_assignment/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at header_title="Special assignments" header_subtitle="Special assignments custom specific assignments to clients" is_show_create_btn=True app_label=app_label page_obj=page_obj pagination_list_url_name="dashboard:special_assignment:list" is_filters_enabled=True is_actions_menu_enabled=True actions_items="show,update,delete" actions_app_name=app_label actions_base_url="dashboard:special_assignment" base_url_name="dashboard:special_assignment" filter_form=filter_form filter_cancel_url="dashboard:special_assignment:list" object_list=object_list is_header_enabled=True is_footer_enabled=True %}

        <!-- End Table Section -->
    {% else %}

        {% include "bw_ui_components/global/empty_card.html" with label="special assignments" %}

    {% endif %}
{% endblock dashboard_content_block %}
