{% extends "bw_components/layouts/table_list_base.html" %}

{% load i18n %}

{% load core_tags %}

{# Start Table Header #}
{% block header_title %}
    {% translate header_title %}
{% endblock header_title %}
{# End Table Header #}
{# Start Table Subtitle #}
{% block header_subtitle %}
    {% translate header_subtitle %}
{% endblock header_subtitle %}
{# End Table Subtitle #}
{# Start Table ID Block #}
{% block table_id_block %}
    {{ app_label|add:'_table' }}
{% endblock table_id_block %}
{# End Table ID Block #}
{# Start Custom Css Class #}
{% block custom_css_class_name %}
    task-table-list
{% endblock custom_css_class_name %}
{# End Custom Css Class #}
{% if is_show_create_btn is True %}
    {# Start Create Button Block #}
    {% block create_btn_block %}
        {% component "tl_create_btn" app_name=app_label actions_base_url=actions_base_url %}
        {% comment %}
{% bw_button btn_text="Click" btn_variant="success" btn_size="small" data_pk="eee" data_title="ddlel" is_disabled=True btn_type="button" %}
        {% endcomment %}
    {% endblock create_btn_block %}
    {# End Create Button Block #}
{% endif %}
{# Start Table Header Columns #}
{% block thead_block %}
    <tr>
        {% if is_checkbox_enabled is True %}
            <th scope="col" class="pl-6 py-3 text-left">
                <label for="{{ column|add:'-checkbox' }}" class="flex">
                    <input type="checkbox"
                           class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 {{ BW_DISABLED_DISABLED_INPUTS_CSS_CLASSES }} {{ BW_BASE_INPUT_CSS_CLASSES }}"
                           id="{{ column|add:'-checkbox' }}"
                           disabled />
                    <span class="sr-only">{{ column|title }}</span>
                </label>
            </th>
        {% endif %}
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Title" %}
                </span>

                {% include "bw_components/global/table_list/sort_icon.html" %}

            </div>
        </th>
        {% if extra_context.is_show_job_column is True or is_show_job_column is True %}
            <th scope="col" class="px-6 py-3 text-left">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        {% translate "Job" %}
                    </span>

                    {% include "bw_components/global/table_list/sort_icon.html" %}

                </div>
            </th>
        {% endif %}
        {% if extra_context.is_show_manager_column is True or is_show_manager_column is True %}
            <th scope="col" class="px-6 py-3 text-left">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        {% translate "Manager" %}
                    </span>

                    {% include "bw_components/global/table_list/sort_icon.html" %}

                </div>
            </th>
        {% endif %}
        {% if extra_context.is_show_type_column is True or is_show_type_column is True %}
            <th scope="col" class="px-6 py-3 text-left">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        {% translate "Type" %}
                    </span>

                    {% include "bw_components/global/table_list/sort_icon.html" %}

                </div>
            </th>
        {% endif %}
        {% if extra_context.is_show_status_column is True or is_show_status_column is True %}
            <th scope="col" class="px-6 py-3 text-left">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        {% translate "Status" %}
                    </span>

                    {% include "bw_components/global/table_list/sort_icon.html" %}

                </div>
            </th>
        {% endif %}
        {% if is_show_created_at is True %}
            <th scope="col" class="px-6 py-3 text-left">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        {% translate "Created" %}
                    </span>

                    {% include "bw_components/global/table_list/sort_icon.html" %}

                </div>
            </th>
        {% endif %}
        <th scope="col" class="px-6 py-3 text-left disable-sort">
            <div class="flex items-center gap-x-2"></div>
        </th>
    </tr>
{% endblock thead_block %}
{# End Table Header Columns #}
{# Start Table Body #}
{% block tbody_block %}
    {% for object in object_list %}
        <tr>
            {% if is_checkbox_enabled is True %}
                <td class="h-px w-px whitespace-nowrap">
                    <div class="pl-6 py-3">
                        <label for="{{ object.pk|add:'-checkbox' }}" class="flex">
                            <input type="checkbox"
                                   class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 {{ BW_DISABLED_DISABLED_INPUTS_CSS_CLASSES }} {{ BW_BASE_INPUT_CSS_CLASSES }}"
                                   id="{{ object.pk|add:'-checkbox' }}"
                                   disabled />
                            <span class="sr-only">{{ object.title|title }}</span>
                        </label>
                    </div>
                </td>
            {% endif %}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    <a href="{% url base_url_name|add:':update' object.pk %}">
                        <span class="text-sm text-gray-600 dark:text-gray-400">{{ object.title|safe }}</span>
                    </a>
                </div>
            </td>
            {% if extra_context.is_show_job_column is True or is_show_job_column is True %}
                <td class="h-px w-px whitespace-nowrap">
                    <div class="px-6 py-3">
                        {% if object.job %}
                            <a href="{% url 'dashboard:job:details' object.job.pk %}"
                               class="text-sm {{ BW_PRELINE_ANCHOR_TAG_DEFAULT_COLOR }} dark:text-gray-400">
                                {{ object.job }}
                            </a>
                        {% else %}
                            <span class="text-sm text-yellow-600 dark:text-gray-400 italic font-semibold">
                                {% translate "No job" %}
                            </span>
                        {% endif %}
                    </div>
                </td>
            {% endif %}
            {% if extra_context.is_show_manager_column is True or is_show_manager_column is True %}
                <td class="h-px w-px whitespace-nowrap">
                    <div class="px-6 py-3">
                        {% if object.job.managed_by %}
                            {% if request.user.user_type == CON_BOOKKEEPER %}
                                <a href="javascript:;" class="disabledAnchorElement text-sm">{{ object.job.managed_by }}</a>
                            {% else %}
                                <a href="{% url 'dashboard:staff:member-details' object.job.managed_by.pk %}"
                                   class="text-sm {{ BW_PRELINE_ANCHOR_TAG_DEFAULT_COLOR }}">{{ object.job.managed_by }}</a>
                            {% endif %}
                        {% else %}
                            <span class="text-sm text-yellow-600 font-semibold italic dark:text-gray-400">{% translate "No manager" %}</span>
                        {% endif %}
                    </div>
                </td>
            {% endif %}
            {% if extra_context.is_show_type_column is True or is_show_type_column is True %}
                <td class="h-px w-px whitespace-nowrap">
                    <div class="px-6 py-3">
                        {% if object.task_type %}
                            <span class="inline-flex items-center gap-x-1.5 py-1.5 px-3 rounded-full text-xs font-medium border border-gray-200 bg-white text-gray-800 shadow-sm dark:bg-slate-900 dark:border-gray-700 dark:text-white">{{ object.get_task_type_display }}</span>
                        {% else %}
                            <span class="text-sm text-yellow-600 font-semibold italic dark:text-gray-400">{% translate "No type" %}</span>
                        {% endif %}
                    </div>
                </td>
            {% endif %}
            {% if extra_context.is_show_status_column is True or is_show_status_column %}
                <td class="h-px w-px whitespace-nowrap">
                    <div class="px-6 py-3">
                        {% bw_badge code=object.status text=object.get_status_display size="sm" %}
                    </div>
                </td>
            {% endif %}
            {% if is_show_created_at is True %}
                <td class="h-px w-px whitespace-nowrap">
                    {% bw_date date_txt=object.created_at is_in_table_list=True %}
                </td>
            {% endif %}
            <td class="h-px w-px whitespace-nowrap text-center">
                {% if is_actions_menu_enabled is True %}
                    {% bw_actions_dropdown actions_items=actions_items actions_base_url=actions_base_url actions_app_name=actions_app_name object=object %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock tbody_block %}
{# End Table Body #}
{# Start Table Results #}
{% block results_block %}
    {{ object_list.count }}/{{ total_records }}
{% endblock results_block %}
{# End Table Results #}
{# Start Table Pagination #}
{% block pagination_block %}

    {% include "components/inc/dashboard/table_list/table_list_pagination.html" with page_obj=page_obj pagination_list_url_name=pagination_list_url_name %}

{% endblock pagination_block %}
{# End Table Pagination #}
