{% nospaces %}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="robots" content="index, follow" />
<meta name="description" content="{{ get_web_app_settings.description }}" />
<meta name="keywords" content="{{ get_web_app_settings.keywords }}" />
<meta name="author" content="{{ get_web_app_settings.author }}" />
<meta name="title" content="{{ get_web_app_settings.title }}" />
<meta name="language" content="English" />
<link rel="canonical" href="{{ request.scheme }}://{{ request.get_host }}" />
<meta name="subject" content="{{ get_web_app_settings.subject }}" />
<meta name="copyright" content="Ibrahim Luqman" />
<meta name="revised" content="REVISION_DATE" />
<meta name="classification"
      content="{{ get_web_app_settings.classification }}" />
<meta name="url" content="{{ get_web_app_settings.url }}" />
{% endnospaces %}
