{% extends "core/layouts/dashboard_content_base.html" %}

{% load i18n %}

{% load static %}
{% load humanize %}

{% block dashboard_content_block %}
    {# Page Heading #}

    {% include "components/inc/dashboard/content_header.html" with title="Welcome "|add:request.user.fullname subtitle="This is a simple application layout with sidebar and header examples using Tailwind CSS." %}

    {# End Page Heading #}
    <!-- Start Stats Widget -->
    <!-- Card Section -->
    <div class="max-w-[100rem] py-10 mx-auto">
        <!-- Grid -->
        <div class="grid gap-2 sm:gap-6 sm:grid-cols-2 lg:grid-cols-4 ">
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="flex justify-between p-4 md:p-5 gap-x-3">
                    <div>
                        <p class="text-xs tracking-wide text-gray-500 uppercase">{% translate "Total staff members" %}</p>
                        <div class="flex items-center mt-1 gap-x-1">
                            <h3 class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-gray-200 mg-dashboard-h-widget"
                                data-widget-name="staff"
                                id="mgTotalStaffMembers">
                                <div class="loader-element relative top-1 animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-gray-800 rounded-full dark:text-white"
                                     role="status"
                                     aria-label="loading">
                                    <span class="sr-only">{% translate "Loading..." %}</span>
                                </div>
                            </h3>
                            {% comment %}
                            <span class="flex items-center text-green-600">
                                <svg class="self-center inline-block w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z" />
                                </svg>
                                <span class="inline-block text-lg">1.7%</span>
                            </span>
                            {% endcomment %}
                        </div>
                    </div>
                    <div class="flex-shrink-0 flex justify-center items-center w-[46px] h-[46px] bg-blue-600 text-white rounded-full dark:bg-blue-900 dark:text-blue-200">
                        <i class="fa-solid fa-users w-4 h-4"></i>
                    </div>
                </div>
                <a class="inline-flex items-center justify-between px-4 py-3 text-sm text-gray-600 border-t border-gray-200 md:px-5 hover:bg-gray-50 rounded-b-xl dark:border-gray-700 dark:text-gray-400 dark:hover:bg-slate-800"
                   href="#">
                    {% translate "View reports" %}
                    <svg class="w-2.5 h-2.5"
                         width="16"
                         height="16"
                         viewBox="0 0 16 16"
                         fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="flex justify-between p-4 md:p-5 gap-x-3">
                    <div>
                        <p class="text-xs tracking-wide text-gray-500 uppercase">{% translate "Clients" %}</p>
                        <div class="flex items-center mt-1 gap-x-1">
                            <h3 class="mt-1 text-xl font-medium text-gray-800 dark:text-gray-200 mg-dashboard-h-widget"
                                data-widget-name="clients">
                                <div class="loader-element relative top-1 animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-gray-800 rounded-full dark:text-white"
                                     role="status"
                                     aria-label="loading">
                                    <span class="sr-only">{% translate "Loading..." %}</span>
                                </div>
                            </h3>
                            {% comment  %}
                                <span class="flex items-center text-red-600">
                                <svg class="self-center inline-block w-7 h-7" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z" />
                                </svg>
                                <span class="inline-block text-lg">1.7%</span>
                            </span>
                            {% endcomment %}
                        </div>
                    </div>
                    <div class="flex-shrink-0 flex justify-center items-center w-[46px] h-[46px] bg-blue-600 text-white rounded-full dark:bg-blue-900 dark:text-blue-200">
                        <i class="fa-solid fa-building-user w-4 h-4"></i>
                    </div>
                </div>
                <a class="inline-flex items-center justify-between px-4 py-3 text-sm text-gray-600 border-t border-gray-200 md:px-5 hover:bg-gray-50 rounded-b-xl dark:border-gray-700 dark:text-gray-400 dark:hover:bg-slate-800"
                   href="{% url 'dashboard:client:list' %}">
                    {% translate "View reports" %}
                    <svg class="w-2.5 h-2.5"
                         width="16"
                         height="16"
                         viewBox="0 0 16 16"
                         fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="flex justify-between p-4 md:p-5 gap-x-3">
                    <div>
                        <p class="text-xs tracking-wide text-gray-500 uppercase">{% translate "Jobs" %}</p>
                        <div class="flex items-center mt-1 gap-x-1">
                            <h3 class="mt-1 text-xl font-medium text-gray-800 dark:text-gray-200 mg-dashboard-h-widget"
                                data-widget-name="jobs">
                                <div class="loader-element relative top-1 animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-gray-800 rounded-full dark:text-white"
                                     role="status"
                                     aria-label="loading">
                                    <span class="sr-only">{% translate "Loading..." %}</span>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="flex-shrink-0 flex justify-center items-center w-[46px] h-[46px] bg-blue-600 text-white rounded-full dark:bg-blue-900 dark:text-blue-200">
                        <i class="fa-solid fa-briefcase w-4 h-4"></i>
                    </div>
                </div>
                <a class="inline-flex items-center justify-between px-4 py-3 text-sm text-gray-600 border-t border-gray-200 md:px-5 hover:bg-gray-50 rounded-b-xl dark:border-gray-700 dark:text-gray-400 dark:hover:bg-slate-800"
                   href="{% url 'dashboard:job:list' %}">
                    {% translate "View reports" %}
                    <svg class="w-2.5 h-2.5"
                         width="16"
                         height="16"
                         viewBox="0 0 16 16"
                         fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="flex justify-between p-4 md:p-5 gap-x-3">
                    <div>
                        <p class="text-xs tracking-wide text-gray-500 uppercase">{% translate "Assignments" %}</p>
                        <div class="flex items-center mt-1 gap-x-1">
                            <h3 class="mt-1 text-xl font-medium text-gray-800 dark:text-gray-200 mg-dashboard-h-widget"
                                data-widget-name="assignments">
                                <div class="loader-element relative top-1 animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-gray-800 rounded-full dark:text-white"
                                     role="status"
                                     aria-label="loading">
                                    <span class="sr-only">{% translate "Loading..." %}</span>
                                </div>
                            </h3>
                        </div>
                    </div>
                    <div class="flex-shrink-0 flex justify-center items-center w-[46px] h-[46px] bg-blue-600 text-white rounded-full dark:bg-blue-900 dark:text-blue-200">
                        <i class="fa-solid fa-list-ol w-4 h-4"></i>
                    </div>
                </div>
                <a class="inline-flex items-center justify-between px-4 py-3 text-sm text-gray-600 border-t border-gray-200 md:px-5 hover:bg-gray-50 rounded-b-xl dark:border-gray-700 dark:text-gray-400 dark:hover:bg-slate-800"
                   href="{% url 'dashboard:special_assignment:list' %}">
                    {% translate "View reports" %}
                    <svg class="w-2.5 h-2.5"
                         width="16"
                         height="16"
                         viewBox="0 0 16 16"
                         fill="none">
                        <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
                    </svg>
                </a>
            </div>
            <!-- End Card -->
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Card Section -->
    <!-- End Stats Widget -->
    <!-- Start Lists Cards -->
    <div class="grid grid-cols-3 gap-2">
        {% if clients %}
            <div>
                <div class="bg-white shadow-md rounded-md overflow-hidden max-w-lg mx-auto dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                    <div class="h-80 overflow-y-auto">
                        <div class="bg-gray-100 py-2 px-4 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                            <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-400 ">{% translate "Clients" %}</h2>
                        </div>
                        <ul class="divide-y divide-gray-200">
                            {% for client in clients %}
                                <li class="flex items-center py-4 px-6">
                                    {% if client.logo %}
                                        <img class="w-9 h-9 rounded-full object-cover mr-4"
                                             src="{{ client.logo.url }}"
                                             alt="{{ client.name|safe }}" />
                                    {% else %}
                                        <i class="fa-solid fa-building-user w-9 h-9 rounded-full mr-4 object-cover dark:text-gray-400"></i>
                                    {% endif %}
                                    <div class="flex-1">
                                        <h3 class="text-[14px] font-medium text-gray-800 dark:text-gray-300">
                                            <a href="{% url 'dashboard:client:details' client.pk %}">{{ client.name|safe }}</a>
                                        </h3>
                                        <p class="text-gray-600 text-xs">{{ client.jobs.count }} {% translate "Jobs" %}</p>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        {% else %}

            {% include "bw_ui_components/global/empty_card.html" with label="clients" %}

        {% endif %}
        <!-- ... -->
        <div>
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                <div class="h-80 overflow-y-auto p-4 md:p-5">
                    <div id="chart-dashboard-wrapper" class="text-center my-auto mx-auto">
                        <div class="loader-element relative top-28 animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-gray-800 rounded-full dark:text-white"
                             role="status"
                             aria-label="loading">
                            <span class="sr-only">{% translate "Loading..." %}</span>
                        </div>
                        <div class="hidden" id="jobChartWrapper">
                            <canvas id="jobsChart"></canvas>
                        </div>
                        <div id="emptyJobsCard" class="hidden">
                            {% include "bw_ui_components/global/empty_card.html" with label="jobs" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="p-4 md:p-5">
                    <div class="flex items-center gap-x-2">
                        <p class="text-xs uppercase tracking-wide text-gray-500">{% translate "Tasks" %}</p>
                        <div class="hs-tooltip">
                            <div class="hs-tooltip-toggle">
                                <svg class="w-3.5 h-3.5 text-gray-500"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                      role="tooltip">{% translate "The number of total tasks" %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 flex items-center">
                        <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                            {{ tasks_count|intcomma }}
                        </h3>
                    </div>
                </div>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800 my-1">
                <div class="p-4 md:p-5">
                    <div class="flex items-center gap-x-2">
                        <p class="text-xs uppercase tracking-wide text-gray-500">{% translate "Notes" %}</p>
                        <div class="hs-tooltip">
                            <div class="hs-tooltip-toggle">
                                <svg class="w-3.5 h-3.5 text-gray-500"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                      role="tooltip">{% translate "The number of total notes" %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 flex items-center">
                        <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                            {{ notes_count|intcomma }}
                        </h3>
                    </div>
                </div>
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="p-4 md:p-5">
                    <div class="flex items-center gap-x-2">
                        <p class="text-xs uppercase tracking-wide text-gray-500">{% translate "Documents" %}</p>
                        <div class="hs-tooltip">
                            <div class="hs-tooltip-toggle">
                                <svg class="w-3.5 h-3.5 text-gray-500"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                    <path d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z" />
                                </svg>
                                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                      role="tooltip">{% translate "The number of total documents" %}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mt-1 flex items-center">
                        <h3 class="text-xl sm:text-2xl font-medium text-gray-800 dark:text-gray-200">
                            {{ documents_count|intcomma }}
                        </h3>
                    </div>
                </div>
            </div>
            <!-- End Card -->
        </div>
    </div>
    <!-- End Lists Cards -->
    <!-- Start Special Assignments Table -->
    <!-- Table Section -->
    <div class="max-w-[100rem] py-10 lg:py-14 mx-auto">
        {% if special_assignments %}

            {% include "bw_components/special_assignment/mini_table_list.html" with is_checkbox_enabled=False is_show_created_at=IS_SHOW_CREATED_AT header_title="Special assignments" header_subtitle="Special assignments custom specific assignments to clients" app_label="special_assignment" pagination_list_url_name="dashboard:special_assignment:list" is_actions_menu_enabled=True actions_items="show,update,delete" actions_app_name="special_assignment" actions_base_url="dashboard:special_assignment" base_url_name="dashboard:special_assignment" filter_cancel_url="dashboard:special_assignment:list" page_obj=special_assignments %}

        {% else %}

            {% include "bw_ui_components/global/empty_card.html" with label="special assignments" %}

        {% endif %}
    </div>
    <!-- End Table Section -->
    <!-- End Special Assignments Table -->
{% endblock dashboard_content_block %}
