{% load widget_tweaks development_tags bw_form_helpers core_tags %}
{% load i18n %}

<!-- Card -->
<div class="bg-white rounded-xl shadow p-4 sm:p-7 dark:bg-slate-900">
    <div class="mb-8">
        <h2 class="text-xl font-bold text-gray-800 dark:text-gray-200">{{ form_title }}</h2>
        <p class="text-sm text-gray-600 dark:text-gray-400">{{ form_subtitle }}</p>
    </div>
    <form id="{{ form_id }}"
          method="{{ form_method }}"
          action="{{ form_action_url }}"
          {% if is_upload_form == True %}enctype="multipart/form-data"{% endif %}>
        <fieldset form="{{ form_id }}">
            {% csrf_token %}
            <!-- Grid -->
            <div class="grid grid-cols-12 gap-4 sm:gap-6">
                {% for input in form %}
                    <div class="col-span-2">
                        {% bw_label html_for=input.auto_id lbl_text=input.label is_required=input.field.required %}
                    </div>
                    <!-- End Col -->
                    <div class="col-span-10">
                        {# {{ input.field|bw_get_form_field_type }} #}
                        <div class="relative">
                            {# ModelMultipleChoiceField #}
                            {% with placeholder=input.field.widget.attrs.placeholder|default:input.label WIDGET_ERROR_CLASS=BW_PRELINE_INPUT_ERROR_CLASSES %}
                                {% if input.field|bw_get_form_field_type == "ModelMultipleChoiceField" %}
                                    {% if input.field.widget.choices %}
                                        {% for checkbox_field in input %}
                                            {% bw_checkbox checkbox_txt=choice_label field=checkbox_field %}
                                        {% endfor %}
                                    {% else %}
                                        <p class="text-yellow-500 font-semibold text-[14px] relative top-2">
                                            {% translate "No "|add:input.label %}
                                        </p>
                                    {% endif %}
                                {% elif input.field|bw_get_form_field_type == "BooleanField" %}
                                    {# {% bw_checkbox checkbox_txt=input.field.label field=input %} #}
                                    {# {{ input }} #}
                                    {# {% bw_testing_form_field input.field %} #}
                                    {% bw_switch bound_field=input %}
                                {% else %}
                                    {% render_field input class+=BW_PRELINE_TEXT_INPUT_CSS_CLASSES placeholder=placeholder %}
                                {% endif %}
                            {% endwith %}
                            {% if input.help_text %}
                                <p class="text-sm text-gray-500 mt-2"
                                   id="{{ input.auto_id|add:'helper' }}">{{ input.help_text }}</p>
                            {% endif %}
                            {% if input.errors %}
                                {% for error in input.errors %}
                                    <p class="text-sm text-red-600 mt-2"
                                       id="{{ input.id_for_label|add:'error' }}">{{ error }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
                {% if current_password %}
                    <div class="col-span-2">{% bw_label lbl_text="Current Password:" %}</div>
                    <div class="col-span-10">
                        <div class="relative pt-2">
                            <p class="font-mono text-sm">{{ current_password }}</p>
                        </div>
                    </div>
                {% endif %}
            </div>
            <!-- End Grid -->
            <div class="mt-5 flex justify-end gap-x-2">
                {% comment  %}
                        <button type="button" class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                            Cancel
                        </button>
                {% endcomment %}
                <button type="submit"
                        form="{{ form_id }}"
                        class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                    {{ submit_btn_text }}
                </button>
            </div>
        </fieldset>
    </form>
</div>
<!-- End Card -->
