{% extends "core/layouts/dashboard_content_base.html" %}

{% load development_tags %}

{% block dashboard_content_block %}
    <!-- Page Heading -->
    {% #dashboard-content-header title="Client Categories" subtitle="All clients categories, it helps to organize the clients" %}
    {% /dashboard-content-header %}
    <!-- End Page Heading -->
    <!-- Table Section -->

    {% include "bw_components/client_category/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at header_title="Categories" header_subtitle="All clients categories, it helps to organize the clients" is_show_create_btn=True app_label=app_label page_obj=page_obj pagination_list_url_name="dashboard:client_category:list" is_filters_enabled=True %}

    <!-- End Table Section -->
{% endblock dashboard_content_block %}
