{# templates/dashboard/components/widgets/kpi_card/kpi_card.html #}
{% load i18n %}
{% load humanize %}

<!-- KPI Card -->
<div class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl dark:bg-neutral-900 dark:border-neutral-800 {% if alert %}border-l-4 border-l-red-500 dark:border-l-red-500{% endif %}">
    <div class="flex justify-between p-4 md:p-5 gap-x-3">
        <div class="flex-1">
            <a href="{{ link_url|default:'#' }}" 
               class="text-xs tracking-wide text-gray-500 uppercase hover:text-blue-600 dark:hover:text-blue-400 {% if not link_url %}pointer-events-none{% endif %}">
                {{ title }}
            </a>
            
            <div class="flex items-center mt-1 gap-x-2">
                <h3 class="text-xl font-medium text-gray-800 sm:text-2xl dark:text-gray-200 
                           {% if widget_name %}lf-dashboard-kpi-widget{% endif %}"
                    {% if widget_name %}data-widget-name="{{ widget_name }}"{% endif %}
                    {% if element_id %}id="{{ element_id }}"{% endif %}>
                    {% if loading %}
                        <div class="loader-element relative top-1 animate-spin inline-block w-6 h-6 border-[3px] border-current border-t-transparent text-gray-800 rounded-full dark:text-white"
                             role="status"
                             aria-label="{% translate 'Loading...' %}">
                            <span class="sr-only">{% translate "Loading..." %}</span>
                        </div>
                    {% else %}
                        {{ value|intcomma }}
                    {% endif %}
                </h3>
                
                {% if trend %}
                <span class="flex items-center {% if trend_positive %}text-green-600 dark:text-green-400{% else %}text-red-600 dark:text-red-400{% endif %}">
                    {% if trend_positive %}
                    <svg class="self-center inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"/>
                    </svg>
                    {% else %}
                    <svg class="self-center inline-block w-5 h-5" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
                    </svg>
                    {% endif %}
                    <span class="inline-block text-sm font-semibold">{{ trend }}</span>
                </span>
                {% endif %}
            </div>
        </div>
        
        <div class="flex-shrink-0 flex justify-center items-center w-[46px] h-[46px] 
                    {% if alert %}
                        bg-red-600 text-white
                    {% else %}
                        bg-{{ color }}-600 text-white
                    {% endif %}
                    rounded-full dark:bg-{{ color }}-900 dark:text-{{ color }}-200">
            <i class="fa-solid {{ icon }} w-4 h-4"></i>
        </div>
    </div>
</div>
<!-- End KPI Card -->
