{% extends "core/layouts/dashboard_content_base.html" %}

{% load development_tags %}

{% block dashboard_content_block %}
    {# Page Heading #}

    {% include "components/inc/dashboard/content_header.html" with title="Managers" subtitle="" %}

    {# End Page Heading #}
    <!-- Table Section -->

    {% include "bw_components/manager/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at header_title="Managers" header_subtitle="" is_show_create_btn=True app_label=app_label page_obj=page_obj pagination_list_url_name="dashboard:managers:list" is_filters_enabled=True is_actions_menu_enabled=True actions_items="update,delete,details" actions_app_name=app_label actions_base_url="dashboard:managers" base_url_name="dashboard:managers" filter_form=filter_form filter_cancel_url="dashboard:managers:list" object_list=page_obj is_header_enabled=True is_footer_enabled=True %}

    <!-- End Table Section -->
{% endblock dashboard_content_block %}
