{% extends "core/layouts/dashboard_content_base.html" %}

{% load i18n %}

{% load humanize %}
{% load bw_form_helpers %}
{% load tailwind_filters %}

{% block dashboard_content_block %}
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2 bg-slate-50 p-5 shadow-md rounded">
            {# Start Job Title #}
            <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
                <h2 class="text-lg font-bold tracking-wider">{{ object.title|capfirst }}</h2>
            </div>
            {# End Job Title #}
            <div class="mt-2 flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-neutral-700/70">
                <h3 class="text-lg font-bold pb-3 text-gray-800 dark:text-white">{% translate "Description" %}</h3>
                <!-- <p class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-neutral-500">
                  Card subtitle
                </p> -->
                <!-- <span class="text-sm text-gray-500 dark:text-gray-400">Desciption :</span> -->
                <article class="text-sm md:text-base lg:text-lg overflow-y-auto max-h-96">
                    <p>{{ object.description|safe }}</p>
                    <br />
                    {% if object.categories.all %}
                        {% for category in object.categories.all %}
                            <span class="inline-flex items-center gap-1 py-1 px-3 mr-1 rounded-full text-[10px] font-medium bg-blue-100 text-blue-800">{{ category.name|capfirst }}</span>
                        {% endfor %}
                    {% endif %}
                    {# End categories badges #}
                </article>
            </div>
            {# Start categories badges #}
            <div class="flex flex-col mt-2 bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
                <form class="form pt-4 flex items-center justify-between gap-2 rounded">
                    <div>
                        <!-- <label for="hs" class="sr-only">Label</label> -->
                        <div class="flex rounded-md shadow-sm">
                            <span class="px-4 inline-flex items-center p-3 min-w-fit rounded-md border border-gray-200 bg-gray-50 text-sm dark:bg-gray-700 dark:border-gray-700">
                                <span class="text-sm text-gray-900 font-semibold flex items-center gap-3 dark:text-gray-400">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                {% translate "Due Date:" %} {% bw_date date_txt=object.due_date is_in_table_list=False %}</span>
                            </span>
                        </div>
                    </div>
                    {# Start Job Status #}
                    <div class="hs-tooltip inline-block">
                        <p class="hs-tooltip-toggle">
                            {% bw_badge code=object.status text=object.get_status_display is_solid=False size="md" extra_css_classes="font-semibold" %}
                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                  role="tooltip">{% translate "Status" %}</span>
                        </p>
                    </div>
                    {# End Job Status #}
                    {# Start Job State #}
                    <div class="hs-tooltip inline-block">
                        <p class="hs-tooltip-toggle">
                            <!-- <span class="m-0.5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-indigo-500 text-white">Badge</span> -->
                            {% bw_badge code=object.state text=object.get_state_display is_solid=False size="md" extra_css_classes="font-semibold" %}
                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                  role="tooltip">{% translate "State" %}</span>
                        </p>
                    </div>
                    {# End Job State #}
                    <div>
                        <!-- <label for="hs-trailing" class="sr-only">Label</label> -->
                        <div class="flex rounded-md shadow-sm">
                            <span class="px-4 inline-flex items-center p-3 min-w-fit rounded-md border border-gray-200 bg-gray-50 text-sm dark:bg-gray-700 dark:border-gray-700">
                                <span class="text-sm text-gray-900 font-semibold flex items-center gap-3 dark:text-gray-400">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                         fill="none"
                                         viewBox="0 0 24 24"
                                         stroke-width="1.5"
                                         stroke="currentColor"
                                         class="w-6 h-6">
                                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                    </svg>
                                {% translate "Created at Date" %}: {% bw_date date_txt=object.created_at is_in_table_list=False %}</span>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="my-3">
                <!-- <label for="hs-trailing-button" class="sr-only">Label</label> -->
                <div class="flex rounded-md shadow-sm">
                    <span class="px-4 inline-flex items-center min-w-fit rounded-md border border-gray-200 bg-gray-50 text-sm dark:bg-gray-700 dark:border-gray-700">
                        <span class="text-sm text-gray-700 font-bold dark:text-gray-400">{% translate "Notes:" %}</span>
                    </span>
                    <div class="flex ml-1 flex-col w-full bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400">
                        <p class="italic">{{ object.note|safe }}</p>
                    </div>
                </div>
            </div>
            {# Start Tabs Block #}
            <section id="job-tabs">
                <nav class="relative z-0 flex border rounded-xl overflow-hidden dark:border-gray-700"
                     aria-label="Tabs"
                     role="tablist">
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400 active"
                            id="tasks-btn"
                            data-hs-tab="#tasks-tab"
                            aria-controls="tasks-tab"
                            role="tab">
                        <i class="fa-solid fa-list-check hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-2"></i>
                        {% translate "Tasks" %} ({{ object.tasks.count }})
                        <!-- <span class="hs-tab-active:bg-blue-100 hs-tab-active:text-blue-600 dark:hs-tab-active:bg-blue-800 dark:hs-tab-active:text-white ml-1 py-0.5 px-1.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300">99+</span> -->
                    </button>
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400"
                            id="documents-btn"
                            data-hs-tab="#documents-tab"
                            aria-controls="documents-tab"
                            role="tab">
                        <i class="fa-solid fa-file hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-2"></i>
                        {% translate "Documents" %} ({{ object.documents.count }})
                    </button>
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400"
                            id="notes-btn"
                            data-hs-tab="#notes-tab"
                            aria-controls="notes-tab"
                            role="tab">
                        <i class="fa-solid fa-note-sticky hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-2"></i>
                        {% translate "Notes" %} ({{ object.notes.count }})
                    </button>
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400"
                            id="notes-btn"
                            data-hs-tab="#assignments-tab"
                            aria-controls="assignments-tab"
                            role="tab">
                        <i class="fa-solid fa-list-ol hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-2"></i>
                        {% translate "Assignments" %} ({{ object.special_assignments.count }})
                    </button>
                </nav>
                <div class="mt-3">
                    {% convert_dict_to_str job=object.pk as extra_hidden_inputs %}
                    <div id="tasks-tab"
                         role="tabpanel"
                         aria-labelledby="bar-with-underline-item-1">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">first</em> item's tab body.
</p> -->
                        {% bw_js_modal modal_css_id="createTaskModal" modal_size="sm" modal_title="Create new task" is_submit_btn_enabled=True is_form_modal=True form_object=task_form is_upload_form=True form_id="createTaskForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:task:api:task-api-router-list" %}
                        <div class="text-right">
                            <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-2 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
                                <div class="flex justify-end">
                                    <div>
                                        {% bw_create_btn_js_modal js_create_btn_css_id="createTaskBtn" modal_css_id="createTaskModal" app_name="task" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if object.tasks.all %}

                            {% include "bw_components/task/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at is_show_create_btn=False app_label="task" pagination_list_url_name="dashboard:task:list" is_filters_enabled=False is_actions_menu_enabled=True actions_items="update,delete" actions_app_name="task" actions_base_url="dashboard:task" base_url_name="dashboard:task" filter_form=filter_form filter_cancel_url="dashboard:task:list" object_list=object.tasks.all is_show_job_column=False is_show_manager_column=True is_show_type_column=True is_show_status_column=True %}

                        {% else %}

                            {% include "bw_ui_components/global/empty_card.html" with label="tasks" %}

                        {% endif %}
                    </div>
                    <div id="documents-tab"
                         class="hidden"
                         role="tabpanel"
                         aria-labelledby="bar-with-underline-item-2">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">second</em> item's tab body.
</p> -->
                        {% bw_js_modal modal_css_id="createDocumentModal" modal_size="sm" modal_title="Create new document" is_submit_btn_enabled=True is_form_modal=True form_object=document_form is_upload_form=True form_id="createDocumentForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:document:api:document-api-router-list" %}
                        <div class="text-right">
                            <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-2 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
                                <div class="flex justify-end">
                                    <div>
                                        {% bw_create_btn_js_modal js_create_btn_css_id="createDocumentBtn" modal_css_id="createDocumentModal" app_name="document" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if object.documents.all %}

                            {% include "bw_components/document/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at is_show_create_btn=False app_label="document" pagination_list_url_name="dashboard:document:list" is_filters_enabled=False is_actions_menu_enabled=True actions_items="update,delete" actions_app_name="document" actions_base_url="dashboard:document" base_url_name="dashboard:document" filter_form=filter_form filter_cancel_url="dashboard:document:list" object_list=object.documents.all is_show_section=False %}

                        {% else %}

                            {% include "bw_ui_components/global/empty_card.html" with label="documents" %}

                        {% endif %}
                    </div>
                    <div id="notes-tab"
                         class="hidden"
                         role="tabpanel"
                         aria-labelledby="bar-with-underline-item-3">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">third</em> item's tab body.
</p> -->
                        {% convert_dict_to_str job=object.pk as extra_hidden_inputs %}
                        {% bw_js_modal modal_css_id="createNoteModal" modal_size="sm" modal_title="Create new note" is_submit_btn_enabled=True is_form_modal=True form_object=note_form is_upload_form=False form_id="createNoteForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:note:api:note-api-router-list" %}
                        <div class="text-right">
                            <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-2 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
                                <div class="flex justify-end">
                                    <div>
                                        {% bw_create_btn_js_modal js_create_btn_css_id="createNoteBtn" modal_css_id="createNoteModal" app_name="note" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if object.notes.all %}

                            {% include "bw_components/note/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at header_title="Notes" is_show_create_btn=False app_label="note" pagination_list_url_name="dashboard:note:list" is_filters_enabled=False is_actions_menu_enabled=True actions_items="update,delete" actions_app_name="note" actions_base_url="dashboard:note" base_url_name="dashboard:note" filter_form=filter_form filter_cancel_url="dashboard:note:list" object_list=object.notes.all is_show_section=False %}

                        {% else %}

                            {% include "bw_ui_components/global/empty_card.html" with label="notes" %}

                        {% endif %}
                    </div>
                    <div id="assignments-tab"
                         role="tabpanel"
                         class="hidden"
                         aria-labelledby="bar-with-underline-item-1">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">first</em> item's tab body.
</p> -->
                        <div class="text-right">
                            <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-2 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400">
                                <div class="flex justify-end">
                                    <div>
                                        {% bw_create_btn_js_modal js_create_btn_css_id="createAssignmentBtn" modal_css_id="createAssignmentModal" app_name="special_assignment" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% bw_js_modal modal_css_id="createAssignmentModal" modal_size="sm" modal_title="Create new assignment" is_submit_btn_enabled=True is_form_modal=True form_object=special_assignment_form is_upload_form=True form_id="createAssignmentForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:special_assignment:api:special-assignment-api-router-list" %}
                        {% if object.special_assignments.all %}

                            {% include "bw_components/special_assignment/mini_table_list.html" with is_checkbox_enabled=False is_show_created_at=IS_SHOW_CREATED_AT header_title="Special assignments" header_subtitle="Special assignments custom specific assignments to clients" app_label=app_label pagination_list_url_name="dashboard:special_assignment:list" is_actions_menu_enabled=False actions_items="show,update,delete" actions_app_name=app_label actions_base_url="dashboard:special_assignment" base_url_name="dashboard:special_assignment" filter_form=filter_form filter_cancel_url="dashboard:special_assignment:list" page_obj=object.special_assignments.all %}

                        {% else %}

                            {% include "bw_ui_components/global/empty_card.html" with label="special assignments" %}

                        {% endif %}
                    </div>
                </div>
            </section>
            {# End Tabs Block #}
        </div>
        <div class="p-5 flex flex-col gap-4 rounded">
            <div class="main flex flex-col gap-4">
                {% if object.status == CON_ARCHIVED or object.status == CON_COMPLETED %}
                    <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:text-neutral-400 text-center">
                        <span class="gap-x-1.5 py-1.5 px-3 rounded-full text-md font-bold bg-yellow-100 text-yellow-800 dark:bg-yellow-800/30 dark:text-yellow-500">{% translate "Archived" %}</span>
                    </div>
                {% endif %}
                <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                    <label for="job-status-input" class="sr-only">{% translate "Status" %}</label>
                    <form action="{% url 'dashboard:job:api:job-api-router-detail' object.pk %}"
                          method="post"
                          id="updateJobStatusStateForm">
                        <fieldset form="updateJobStatusStateForm">
                            {% csrf_token %}
                            <input type="hidden" name="_method" value="PATCH" />
                            <input type="hidden" name="pk" value="{{ object.pk }}" />
                            <div class="flex rounded-md shadow-sm">
                                <select id="jobStatusInput"
                                        name="status"
                                        class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-2 px-3 pr-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                                        disabled>
                                    {% for choice in job_status_choices %}
                                        <option value="{{ choice.0|safe }}"
                                                {% if object.status == choice.0 %}selected{% endif %}>{{ choice.1|safe }}</option>
                                    {% endfor %}
                                </select>
                                <select id="jobStateInput"
                                        name="state"
                                        class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-2 px-3 pr-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                                        disabled>
                                    {% for choice in job_stats_choices %}
                                        <option value="{{ choice.0|safe }}"
                                                {% if object.state == choice.0 %}selected{% endif %}>{{ choice.1|safe }}</option>
                                    {% endfor %}
                                </select>
                                <button type="submit"
                                        form="updateJobStatusStateForm"
                                        class="{{ BW_FULL_INPUT_CSS_CLASSES }} hs-tooltip -ml-px py-3 px-4 inline-flex justify-center items-center gap-2 border font-medium bg-blue-100 border-transparent text-blue-500 hover:text-white hover:bg-blue-400 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                        disabled
                                        id="updateJobStatusBtn">
                                    <i class="fa-solid fa-save"></i>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                          role="tooltip">{% translate "Update status" %}</span>
                                </button>
                                <button type="button"
                                        id="updateJobModalBtn"
                                        class="{{ BW_FULL_INPUT_CSS_CLASSES }} hs-tooltip hs-tooltip-toggle py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-yellow-100 text-yellow-500 hover:text-white hover:bg-yellow-400 focus:outline-none focus:ring-2 ring-offset-white focus:ring-yellow-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                        data-hs-overlay="#update-job-details-modal"
                                        disabled>
                                    <i class="fa-solid fa-pencil"></i>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                          role="tooltip">{% translate "Update job" %}</span>
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                    <div>
                        <div class="flex rounded-lg shadow-sm">
                            <div class="hs-tooltip px-4 inline-flex items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                <span class="hs-tooltip-toggle text-sm text-gray-500 dark:text-gray-400">
                                    <i class="fa-solid fa-user-circle fa-xl"></i>
                                </span>
                                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                      role="tooltip">{% translate "Managed by" %}</span>
                            </div>
                            <input type="text"
                                   id="hs-search-box-with-loading-3"
                                   name="hs-search-box-with-loading-3"
                                   class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-3 px-4 pr-11 block w-full border-gray-200 shadow-sm rounded-r-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 cursor-not-allowed
                                          {% if not object.managed_by %}text-red-500{% endif %}"
                                   data-keep-disabled="true"
                                   value="{% if object.managed_by %}
                                              {{ object.managed_by.fullname|safe }}
                                          {% else %}
                                              NO MANAGER
                                          {% endif %}"
                                   placeholder="{% if object.managed_by %}
                                                    {{ object.managed_by.fullname|safe }}
                                                {% else %}
                                                    NO MANAGER
                                                {% endif %}"
                                   disabled
                                   readonly />
                            {% if object.managed_by %}
                                <a href="{% url 'dashboard:staff:member-details' object.managed_by.pk %}"
                                   target="_blank"
                                   class="w-[2.875rem] h-[2.875rem] flex-shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-100 text-blue-500 hover:text-white hover:bg-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            {% else %}
                                <a href="#"
                                   target="_blank"
                                   class="w-[2.875rem] h-[2.875rem] flex-shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-100 text-blue-500 hover:text-white hover:bg-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="mt-3">
                        <div>
                            <div class="flex rounded-lg shadow-sm">
                                <div class="hs-tooltip px-4 inline-flex items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                    <span class="hs-tooltip-toggle text-sm text-gray-500 dark:text-gray-400">
                                        <i class="fa-solid fa-building fa-xl"></i>
                                    </span>
                                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                          role="tooltip">{% translate "Client" %}</span>
                                </div>
                                <input type="text"
                                       name="client_name"
                                       id="client_name"
                                       class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-3 px-4 pr-11 block w-full border-gray-200 shadow-sm rounded-r-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                                       data-keep-disabled="true"
                                       value="{{ object.client.name|safe }}"
                                       placeholder="{{ object.client.name|safe }}"
                                       readonly
                                       disabled />
                                <a href="{% if object.client %} {% url 'dashboard:client:details' object.client.pk %} {% else %} # {% endif %}"
                                   target="_blank"
                                   class="w-[2.875rem] h-[2.875rem] flex-shrink-0 inline-flex justify-center items-center gap-x-2 text-sm font-semibold rounded-e-md border border-transparent bg-blue-100 text-blue-500 hover:text-white hover:bg-blue-500 disabled:opacity-50 disabled:pointer-events-none dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600">
                                    <i class="fa-solid fa-arrow-up-right-from-square"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                    <dl class="grid sm:grid-cols-3 gap-1 sm:gap-3">
                        <dt class="sm:col-span-1 font-semibold dark:text-white">{% translate "Period Year" %}</dt>
                        <dd class="sm:col-span-2 mb-3 sm:mb-0 dark:text-white">
                            <h6 class="text-base dark:text-white">{{ object.period_year }}</h6>
                        </dd>
                        <dt class="sm:col-span-1 font-semibold dark:text-white">{% translate "Period Month" %}</dt>
                        <dd class="sm:col-span-2 mb-3 sm:mb-0 dark:text-white">
                            <h6 class="text-base dark:text-white">{{ object.get_period_month_display }}</h6>
                        </dd>
                    </dl>
                </div>
                <div class="-mt-2">
                    {% if object.discussions.all %}
                        {% bw_discussion_chatbox object=object user=request.user display_form=False %}
                    {% else %}

                        {% include "bw_ui_components/global/empty_card.html" with label="discussions or replies" %}

                    {% endif %}
                </div>
                <div class="-mt-4">
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl p-4 md:p-5 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                        {% bw_js_modal modal_css_id="add-discussion-model-form" modal_size="sm" modal_title="Post discussion or reply" is_submit_btn_enabled=True is_form_modal=True form_object=discussion_form is_upload_form=True form_id="createDiscussionForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:discussion:api:discussion-api-router-list" %}
                        <button type="button"
                                data-hs-overlay="#add-discussion-model-form"
                                disabled
                                class="{{ BW_FULL_INPUT_CSS_CLASSES }} w-full m-1 ml-0 py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-100 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                            {% translate "Submit reply" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {# Start Update Job Modal #}
    {% bw_js_modal modal_css_id="update-job-details-modal" modal_size="sm" modal_title="Update job" is_submit_btn_enabled=True is_form_modal=True form_object=job_update_form is_upload_form=False form_id="updateJobForm" form_submit_text="Update" action_url="dashboard:job:api:job-api-router-detail" action_url_pk=object.pk form_method="post" enable_hidden_method=True %}
    {# End Update Job Modal #}
{% endblock dashboard_content_block %}
