{% extends "core/layouts/dashboard_content_base.html" %}

{% load i18n %}

{% load bw_form_helpers %}
{% load tailwind_filters %}

{% block dashboard_content_block %}
    <div class="grid grid-cols-3 gap-4">
        <div class="col-span-2 bg-slate-50 p-5 shadow-md rounded">
            {# Start Job Title #}
            <h2 class="text-lg font-bold tracking-wider border-b border-slate-950 pb-2">{{ object.title }}</h2>
            {# End Job Title #}
            <div class="flex flex-col rounded-md p-3">
                <!-- <span class="text-sm text-gray-500 dark:text-gray-400">Desciption :</span> -->
                <article>
                    <p>{{ object.description|safe }}</p>
                </article>
            </div>
            <form class="form pt-4 flex items-center justify-between gap-2 rounded">
                <div>
                    <!-- <label for="hs" class="sr-only">Label</label> -->
                    <div class="flex rounded-md shadow-sm">
                        <span class="px-4 inline-flex items-center p-3 min-w-fit rounded-md border border-gray-200 bg-gray-50 text-sm dark:bg-gray-700 dark:border-gray-700">
                            <span class="text-sm text-gray-900 flex items-center gap-3 dark:text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                </svg>
                            {% translate "Due Date:" %} {% bw_date date_txt=object.due_date is_in_table_list=False %}</span>
                        </span>
                    </div>
                </div>
                {# Start Job Status #}
                <div class="hs-tooltip inline-block">
                    <p class="hs-tooltip-toggle">
                        {% bw_badge code=object.status text=object.get_status_display is_solid=False size="md" %}
                        <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                              role="tooltip">{% translate "Status" %}</span>
                    </p>
                </div>
                {# End Job Status #}
                {# Start Job State #}
                <div class="hs-tooltip inline-block">
                    <p class="hs-tooltip-toggle">
                        <!-- <span class="m-0.5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-full text-xs font-medium bg-indigo-500 text-white">Badge</span> -->
                        {% bw_badge code=object.state text=object.get_state_display is_solid=False size="md" %}
                        <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                              role="tooltip">{% translate "State" %}</span>
                    </p>
                </div>
                {# End Job State #}
                <div>
                    <!-- <label for="hs-trailing" class="sr-only">Label</label> -->
                    <div class="flex rounded-md shadow-sm">
                        <span class="px-4 inline-flex items-center p-3 min-w-fit rounded-md border border-gray-200 bg-gray-50 text-sm dark:bg-gray-700 dark:border-gray-700">
                            <span class="text-sm text-gray-900 flex items-center gap-3 dark:text-gray-400">
                                <svg xmlns="http://www.w3.org/2000/svg"
                                     fill="none"
                                     viewBox="0 0 24 24"
                                     stroke-width="1.5"
                                     stroke="currentColor"
                                     class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
                                </svg>
                            {% translate "Created at Date" %}: {% bw_date date_txt=object.created_at is_in_table_list=False %}</span>
                        </span>
                    </div>
                </div>
            </form>
            <div class="my-3">
                <!-- <label for="hs-trailing-button" class="sr-only">Label</label> -->
                <div class="flex rounded-md shadow-sm">
                    <span class="px-4 inline-flex items-center min-w-fit rounded-md border border-r-0 border-gray-200 bg-gray-50 text-sm dark:bg-gray-700 dark:border-gray-700">
                        <span class="text-sm text-gray-500 dark:text-gray-400">{% translate "Notes:" %}</span>
                    </span>
                    <textarea id="jobDescription"
                              disabled
                              name="hs-trailing-button-add-on-with-leading-and-trailing"
                              class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-3 px-4 block w-full border-gray-200 shadow-sm rounded-0 text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 rounded dark:text-gray-400"
                              readonly>{{ object.note|safe }}</textarea>
                </div>
            </div>
            {# Start Tabs Block #}
            <section id="job-tabs">
                <nav class="relative z-0 flex border rounded-xl overflow-hidden dark:border-gray-700"
                     aria-label="Tabs"
                     role="tablist">
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400 active"
                            id="tasks-btn"
                            data-hs-tab="#tasks-tab"
                            aria-controls="tasks-tab"
                            role="tab">
                        <i class="fa-solid fa-list-check hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-1"></i>
                        {% translate "Tasks" %} ({{ object.tasks.count }})
                        <!-- <span class="hs-tab-active:bg-blue-100 hs-tab-active:text-blue-600 dark:hs-tab-active:bg-blue-800 dark:hs-tab-active:text-white ml-1 py-0.5 px-1.5 rounded-full text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-700 dark:text-gray-300">99+</span> -->
                    </button>
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400 dark:hover:text-gray-300"
                            id="documents-btn"
                            data-hs-tab="#documents-tab"
                            aria-controls="documents-tab"
                            role="tab">
                        <i class="fa-solid fa-file hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-1"></i>
                        {% translate "Documents" %} ({{ object.documents.count }})
                    </button>
                    <button type="button"
                            class="hs-tab-active:border-b-blue-600 hs-tab-active:text-gray-900 dark:hs-tab-active:text-white dark:hs-tab-active:border-b-blue-600 relative min-w-0 flex-1 bg-white first:border-l-0 border-l border-b-2 py-4 px-4 text-gray-500 hover:text-gray-700 text-sm font-medium text-center overflow-hidden hover:bg-gray-50 focus:z-10 dark:bg-gray-800 dark:border-l-gray-700 dark:border-b-gray-700 dark:hover:bg-gray-700 dark:hover:text-gray-400 dark:hover:text-gray-300"
                            id="notes-btn"
                            data-hs-tab="#notes-tab"
                            aria-controls="notes-tab"
                            role="tab">
                        <i class="fa-solid fa-note-sticky hs-tab-active:text-blue-600 dark:hs-tab-active:text-blue-600 w-3.5 h-3.5 text-gray-400 dark:text-gray-600 mr-1"></i>
                        {% translate "Notes" %} ({{ object.notes.count }})
                    </button>
                </nav>
                <div class="mt-3">
                    {% convert_dict_to_str job=object.pk as extra_hidden_inputs %}
                    <div id="tasks-tab"
                         role="tabpanel"
                         aria-labelledby="bar-with-underline-item-1">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">first</em> item's tab body.
</p> -->
                        {% bw_js_modal modal_css_id="createTaskModal" modal_size="sm" modal_title="Create new task" is_submit_btn_enabled=True is_form_modal=True form_object=task_form is_upload_form=True form_id="createTaskForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:task:api:task-api-router-list" %}
                        <div class="text-right">
                            {% bw_create_btn_js_modal js_create_btn_css_id="createTaskBtn" modal_css_id="createTaskModal" app_name="task" %}
                        </div>

                        {% include "bw_components/task/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at is_show_create_btn=False app_label="task" pagination_list_url_name="dashboard:task:list" is_filters_enabled=False is_actions_menu_enabled=True actions_items="update,delete" actions_app_name="task" actions_base_url="dashboard:task" base_url_name="dashboard:task" filter_form=filter_form filter_cancel_url="dashboard:task:list" object_list=object.tasks.all is_show_job_column=False is_show_manager_column=True is_show_type_column=True is_show_status_column=True %}

                    </div>
                    <div id="documents-tab"
                         class="hidden"
                         role="tabpanel"
                         aria-labelledby="bar-with-underline-item-2">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">second</em> item's tab body.
</p> -->
                        {% bw_js_modal modal_css_id="createDocumentModal" modal_size="sm" modal_title="Create new document" is_submit_btn_enabled=True is_form_modal=True form_object=document_form is_upload_form=True form_id="createDocumentForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:document:api:document-api-router-list" %}
                        <div class="text-right">
                            {% bw_create_btn_js_modal js_create_btn_css_id="createDocumentBtn" modal_css_id="createDocumentModal" app_name="document" %}
                        </div>

                        {% include "bw_components/document/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at is_show_create_btn=False app_label="document" pagination_list_url_name="dashboard:document:list" is_filters_enabled=False is_actions_menu_enabled=True actions_items="update,delete" actions_app_name="document" actions_base_url="dashboard:document" base_url_name="dashboard:document" filter_form=filter_form filter_cancel_url="dashboard:document:list" object_list=object.documents.all is_show_section=False %}

                    </div>
                    <div id="notes-tab"
                         class="hidden"
                         role="tabpanel"
                         aria-labelledby="bar-with-underline-item-3">
                        <!-- <p class="text-gray-500 dark:text-gray-400">
                            This is the <em class="font-semibold text-gray-800 dark:text-gray-200">third</em> item's tab body.
</p> -->
                        {% convert_dict_to_str job=object.pk as extra_hidden_inputs %}
                        {% bw_js_modal modal_css_id="createNoteModal" modal_size="sm" modal_title="Create new note" is_submit_btn_enabled=True is_form_modal=True form_object=note_form is_upload_form=False form_id="createNoteForm" form_submit_text="Create" extra_hidden_inputs=extra_hidden_inputs action_url="dashboard:note:api:note-api-router-list" %}
                        <div class="text-right">
                            {% bw_create_btn_js_modal js_create_btn_css_id="createNoteBtn" modal_css_id="createNoteModal" app_name="note" %}
                        </div>

                        {% include "bw_components/note/table_list.html" with is_checkbox_enabled=False is_show_created_at=is_show_created_at header_title="Notes" is_show_create_btn=False app_label="note" pagination_list_url_name="dashboard:note:list" is_filters_enabled=False is_actions_menu_enabled=True actions_items="update,delete" actions_app_name="note" actions_base_url="dashboard:note" base_url_name="dashboard:note" filter_form=filter_form filter_cancel_url="dashboard:note:list" object_list=object.notes.all is_show_section=False %}

                    </div>
                </div>
            </section>
            {# End Tabs Block #}
        </div>
        <div class="bg-slate-50 p-5 shadow-md flex flex-col gap-4 rounded">
            <div class="main flex flex-col my-4 gap-4">
                <div>
                    <label for="job-status-input" class="sr-only">{% translate "Status" %}</label>
                    <div class="flex rounded-md shadow-sm">
                        <input list="job-status-datalist"
                               id="job-status-input"
                               name="job-status-input"
                               class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-3 px-4 block w-full border-gray-200 shadow-sm rounded-l-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400"
                               disabled
                               value="{{ object.get_status_display }}" />
                        <datalist id="job-status-datalist">
                            {% for choice in job_status_choices %}
                                <option value="{{ choice.0|safe }}">{{ choice.1|safe }}</option>
                            {% endfor %}
                        </datalist>
                        <button type="button"
                                class="{{ BW_FULL_INPUT_CSS_CLASSES }} hs-tooltip -ml-px py-3 px-4 inline-flex justify-center items-center gap-2 border font-medium bg-blue-100 border-transparent text-blue-500 hover:text-white hover:bg-blue-100 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                disabled
                                id="updateJobStatusBtn">
                            <i class="fa-solid fa-save"></i>
                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                  role="tooltip">{% translate "Update status" %}</span>
                        </button>
                        <button type="button"
                                class="{{ BW_FULL_INPUT_CSS_CLASSES }} hs-tooltip hs-tooltip-toggle py-3 px-4 inline-flex flex-shrink-0 justify-center items-center gap-2 rounded-r-md border border-transparent font-semibold bg-yellow-100 text-yellow-500 hover:text-white hover:bg-yellow-100 focus:outline-none focus:ring-2 ring-offset-white focus:ring-yellow-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                                data-hs-overlay="#update-job-details-modal"
                                disabled>
                            <i class="fa-solid fa-pencil"></i>
                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                  role="tooltip">{% translate "Update job" %}</span>
                        </button>
                    </div>
                </div>
                <div>
                    <div class="flex rounded-md shadow-sm">
                        <div class="hs-tooltip px-4 inline-flex items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                            <span class="hs-tooltip-toggle text-sm text-gray-500 dark:text-gray-400">
                                <i class="fa-solid fa-user-circle fa-xl"></i>
                            </span>
                            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                  role="tooltip">{% translate "Managed by" %}</span>
                        </div>
                        <select id="hs-hidden-select"
                                class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-3 px-4 pr-9 block w-full border-gray-200 rounded-md text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                                disabled>
                            {% for bookkeeper in object.client.bookkeepers.all %}
                                <option value="{{ bookkeeper.pk }}">{{ bookkeeper.user.fullname }}</option>
                            {% empty %}
                                <option disabled>{% translate "No bookkeepers assigned to client" %}</option>
                            {% endfor %}
                        </select>
                        {# {% bw_select options='{"one": "One", "tow": "tow", "three": "three"}' %} #}
                    </div>
                    <div class="my-3">
                        <div class="flex rounded-md shadow-sm">
                            <div class="hs-tooltip px-4 inline-flex items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                <span class="hs-tooltip-toggle text-sm text-gray-500 dark:text-gray-400">
                                    <i class="fa-solid fa-building fa-xl"></i>
                                </span>
                                <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                                      role="tooltip">{% translate "Client" %}</span>
                            </div>
                            <input type="text"
                                   name="hs-input-with-add-on-url"
                                   id="hs-input-with-add-on-url"
                                   class="{{ BW_FULL_INPUT_CSS_CLASSES }} py-3 px-4 pr-11 block w-full border-gray-200 shadow-sm rounded-r-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
                                   data-keep-disabled="true"
                                   value="{{ object.client.name|safe }}"
                                   placeholder="{{ object.client.name|safe }}"
                                   readonly
                                   disabled />
                        </div>
                    </div>
                </div>
                {# Start Add Discussion Form Block #}
                <div>
                    <form action="" id="addDiscussionFormInJob">
                        <fieldset form="addDiscussionFormInJob">
                            {% csrf_token %}
                            <p class="text-lg px-4 font-bold border-b-2 pb-1">{% translate "Add discussions or reply" %}</p>
                            <div class="my-3">
                                <div class="flex rounded-md shadow-sm">
                                    <div class="px-4 inline-flex items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                        <span class="text-sm text-gray-500 dark:text-gray-400">
                                            <i class="fa-solid fa-user-circle fa-xl"></i>
                                        </span>
                                    </div>
                                    <textarea name="discussion"
                                              id="discussion"
                                              class="py-3 px-4 pr-11 block w-full border-gray-200 shadow-sm rounded-r-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"></textarea>
                                </div>
                            </div>
                            <div class="my-3">
                                <div class="flex rounded-md shadow-sm">
                                    <div class="px-4 inline-flex items-center min-w-fit rounded-l-md border border-r-0 border-gray-200 bg-gray-50 dark:bg-gray-700 dark:border-gray-600">
                                        <span class="text-sm text-gray-500 dark:text-gray-400">
                                            <i class="fa-solid fa-paperclip fa-lg"></i>
                                        </span>
                                    </div>
                                    <label for="small-file-input" class="sr-only">Choose file</label>
                                    <input type="file"
                                           name="small-file-input"
                                           id="small-file-input"
                                           class="block w-full border border-gray-200 shadow-sm rounded-md text-sm focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 file:bg-transparent file:border-0 file:bg-blue-500 file:text-white file:mr-4 file:py-2 file:px-4 dark:file:bg-gray-700 dark:file:text-gray-400" />
                                </div>
                            </div>
                            <div>
                                <button type="submit"
                                        id="addDiscussionBtnInJob"
                                        class="w-full py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800">
                                    {% translate "Add" %}
                                </button>
                            </div>
                        </fieldset>
                    </form>
                </div>
                {# End Add Discussion Form Block #}
            </div>
            {# Start Replies Block #}
            <div>
                <p class="text-lg px-4 font-bold border-b-2 pb-1">{% translate "Replies" %}</p>
                <div class="my-2 flex flex-col bg-white border shadow-sm rounded-xl pl-3 py-3 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                    <div class="grid grid-cols-12 gap-4 my-2">
                        <div>
                            <div class="text-center">
                                <i class="fa-solid fa-user-circle fa-lg rounded-full ring-2 ring-white dark:ring-gray-800"></i>
                            </div>
                        </div>
                        <div class="col-span-10 relative">
                            <small class="inline-block relative bottom-1">
                                <a class="inline-block mr-3 text-blue-700" href="">Name</a>
                                <p class="inline-block italic">Fri Sep 23 2022</p>
                            </small>
                            <p class="text-sm">
                                {{ "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellat!"|truncatechars:50 }}
                            </p>
                        </div>
                    </div>
                    <div class="grid grid-cols-12 gap-4 my-4 ml-9">
                        <div>
                            <div class="text-center">
                                <i class="fa-solid fa-user-circle fa-lg rounded-full ring-2 ring-white dark:ring-gray-800"></i>
                            </div>
                        </div>
                        <div class="col-span-10 relative">
                            <small class="inline-block relative bottom-1">
                                <a class="inline-block mr-3 text-blue-700" href="">Name</a>
                                <p class="inline-block italic">Fri Sep 23 2022</p>
                            </small>
                            <p class="text-sm">
                                {{ "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellat!"|truncatechars:50 }}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="my-2 flex flex-col bg-white border shadow-sm rounded-xl pl-3 py-3 dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7] dark:text-gray-400">
                    <div class="grid grid-cols-12 gap-4 my-2">
                        <div>
                            <div class="text-center">
                                <i class="fa-solid fa-user-circle fa-lg rounded-full ring-2 ring-white dark:ring-gray-800"></i>
                            </div>
                        </div>
                        <div class="col-span-10 relative">
                            <small class="inline-block relative bottom-1">
                                <a class="inline-block mr-3 text-blue-700" href="">Name</a>
                                <p class="inline-block italic">Fri Sep 23 2022</p>
                            </small>
                            <p class="text-sm">
                                {{ "Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, repellat!"|truncatechars:50 }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            {# End Replies Block #}
        </div>
    </div>
    {# Start Update Job Modal #}
    {% bw_js_modal modal_css_id="update-job-details-modal" modal_size="sm" modal_title="Update job" is_submit_btn_enabled=True is_form_modal=True form_object=job_update_form is_upload_form=False form_id="updateJobForm" form_submit_text="Update" action_url="dashboard:job:api:job-api-router-detail" action_url_pk=object.pk form_method="post" enable_hidden_method=True %}
    {# End Update Job Modal #}
{% endblock dashboard_content_block %}
