{% load i18n %}

<div class="hs-dropdown relative inline-flex">
    <button id="hs-dropdown-custom-icon-trigger"
            type="button"
            class="hs-dropdown-toggle flex justify-center items-center size-9 text-sm font-semibold rounded-lg border border-gray-200 bg-white text-gray-800 shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:bg-neutral-900 dark:border-neutral-700 dark:text-white dark:hover:bg-neutral-800 dark:focus:bg-neutral-800"
            aria-haspopup="menu"
            aria-expanded="false"
            aria-label="Dropdown">
        <svg class="flex-none size-4 text-gray-600 dark:text-neutral-500"
             xmlns="http://www.w3.org/2000/svg"
             width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
            <circle cx="12" cy="12" r="1" /><circle cx="12" cy="5" r="1" /><circle cx="12" cy="19" r="1" />
        </svg>
    </button>
    <div class="hs-dropdown-menu transition-[opacity,margin] duration z-10 hs-dropdown-open:opacity-100 opacity-0 hidden min-w-60 bg-white shadow-md rounded-lg mt-2 dark:bg-neutral-800 dark:border dark:border-neutral-700"
         role="menu"
         aria-orientation="vertical"
         aria-labelledby="hs-dropdown-custom-icon-trigger">
        <div class="p-1 space-y-0.5">
            {% for url_name, url_value in action_urls.items %}
                {% if url_name != "delete" %}
                    <div class="py-2 first:pt-0 last:pb-0">
                        <a class="flex items-center gap-x-3 py-2 px-3 rounded-md text-sm text-gray-800 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-gray-300"
                           href="{{ url_value }}">{{ url_name|title }}</a>
                    </div>
                {% else %}
                    <hr />
                    <div class="py-2 first:pt-0 last:pb-0">
                        <a class="flex items-center gap-x-3 py-2 px-3 rounded-md text-sm text-red-600 hover:bg-gray-100 focus:ring-2 focus:ring-blue-500 dark:text-red-500 dark:hover:bg-gray-700"
                           href="{{ url_value }}">{{ url_name|title }}</a>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
