{% load development_tags widget_tweaks bw_form_helpers %}
{% load i18n %}

<form method="get" id="{{ filter_form_id }}">
    <fieldset form="{{ filter_form_id }}"
              {% if object_list.count <= 0 %}disabled{% endif %}>
        <div class="flex">
            
            <!-- Input -->
            {% for filter_field in filter_form %}
            {# {{ filter_field.field|bw_get_form_field_type }} #}
                {% if filter_field.field|bw_get_form_field_type == "CharField" %}
                    <div class="mr-2">
                        <label for="hs-as-table-product-review-search" class="sr-only">
                            {{ filter_field.field.label }}
                        </label>
                        <div class="relative">
                            {% render_field filter_field class+=BW_PRELINE_FILTER_TEXT_INPUT placeholder=filter_field.field.label type="text" disabled="disabled" %}
                            <div class="absolute inset-y-0 left-0 flex items-center pointer-events-none pl-4">
                                <svg class="h-4 w-4 text-gray-400"
                                     xmlns="http://www.w3.org/2000/svg"
                                     width="16"
                                     height="16"
                                     fill="currentColor"
                                     viewBox="0 0 16 16">
                                    <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                {% elif filter_field.field|bw_get_form_field_type == "ChoiceField" %}
                    <div class="mr-2">
                        <label for="hs-as-table-product-review-search" class="sr-only">
                            {{ filter_field.field.label }}
                        </label>
                        <div class="relative">
                            {% render_field filter_field class+=BW_PRELINE_FILTER_SELECT_INPUT_DEFAULT placeholder=filter_field.field.label disabled="disabled" %}
                        </div>
                    </div>
                    {% else %}
                    <div class="mr-2">
                        <label for="hs-as-table-product-review-search" class="sr-only">
                            {{ filter_field.field.label }}
                        </label>
                        <div class="relative">
                            {% render_field filter_field class+=BW_PRELINE_FILTER_SELECT_INPUT_DEFAULT placeholder=filter_field.field.label disabled="disabled" %}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            <div>
                <button type="submit"
                        class="inline-flex flex-shrink-0 h-[2.375rem] w-[2.375rem] py-3 px-4 justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-100 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800 mx-1">
                    <i class="fa-solid fa-filter"></i>
                </button>
                <a href="{{ filter_cancel_url }}"
                   class="inline-flex flex-shrink-0 h-[2.375rem] w-[2.375rem] justify-center items-center gap-2 rounded-md py-3 px-4 bg-gray-100 border border-transparent font-semibold text-gray-800 hover:text-white hover:bg-gray-800 focus:outline-none focus:ring-2 ring-offset-white focus:ring-gray-800 focus:ring-offset-2 transition-all text-sm dark:bg-gray-700 dark:hover:bg-gray-900 dark:text-white">
                    <i class="fa-solid fa-eraser"></i>
                </a>
            </div>
            <!-- End Input -->
        </div>
    </fieldset>
</form>
