{% extends "core/layouts/dashboard_content_base.html" %}

{% load i18n %}

{% load static %}

{% block dashboard_content_block %}
    <section id="forceUpdatePasswordWrapper">
        {# Start User Card #}
        <div class="flex flex-col bg-white border border-gray-200 shadow-sm rounded-xl p-4 md:p-5 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 mb-4">
            <div class="flex-shrink-0 group block">
                <div class="flex items-center">
                    <img class="inline-block flex-shrink-0 h-[3.875rem] w-[3.875rem] rounded-full ring-2"
                         src="{% if object.get_staff_member_object.staff_object.profile.profile_picture %} {{ object.get_staff_member_object.staff_object.profile.profile_picture.url }} {% else %} {% static 'img/default_staff.png' %} {% endif %}"
                         alt="{{ object.fullname }}" />
                    <div class="ms-3">
                        <h3 class="font-semibold text-gray-800 dark:text-white">{{ object.fullname|safe }}</h3>
                        <p class="text-sm font-medium text-gray-400 italic">{{ object.email|safe }}</p>
                    </div>
                </div>
            </div>
        </div>
        {# End User Card #}
        {# Start Update form #}
        <div id="password-tab">
            {% component "bw_form" form=form perms=perms form_id="staffChangePasswordForm" is_btns_enabled=True form_subtitle="" submit_btn_text="Update password" hide_back_btn=True %}{% endcomponent %}
        </div>
        {# End Update form #}
    </section>
{% endblock dashboard_content_block %}
