{% extends "core/layouts/dashboard_content_base.html" %}

{% load i18n %}

{% block dashboard_content_block %}
    {# Page Heading #}

    {% include "components/inc/dashboard/content_header.html" with title="Hello, "|add:request.user.fullname subtitle="Man should fear never beginning to live." %}

    {# End Page Heading #}
    <!-- Start Content -->
    <!-- Start Stats -->
    <!-- Card Section -->
    <div class="max-w-[100rem] py-10 sm:px-6 lg:px-4 lg:py-14 mx-auto">
        <!-- Grid -->
        <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6">
            <!-- Card -->
            <div class="flex flex-col gap-y-3 lg:gap-y-5 p-4 md:p-5 bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="inline-flex justify-center items-center">
                    <span class="w-2 h-2 inline-block bg-green-500 rounded-full mr-2"></span>
                    <span class="text-xs font-semibold uppercase text-gray-600 dark:text-gray-400">{% translate "Clients" %}</span>
                </div>
                <div class="text-center">
                    <h3 class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-gray-800 dark:text-gray-200">
                        {{ request.user.bookkeeper.get_proxy_model.clients.count }}
                    </h3>
                </div>
                {% comment  %}
                    <dl class="flex justify-center items-center divide-x divide-gray-200 dark:divide-gray-700">
                    <dt class="pr-3">
                        <span class="text-green-600">
                            <svg class="inline-block w-4 h-4 self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                            </svg>
                            <span class="inline-block text-sm">1.7%</span>
                        </span>
                        <span class="block text-sm text-gray-500">change</span>
                    </dt>
                    <dd class="text-left pl-3">
                        <span class="text-sm font-semibold text-gray-800 dark:text-gray-200">5</span>
                        <span class="block text-sm text-gray-500">last week</span>
                    </dd>
                </dl>
                {% endcomment %}
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col gap-y-3 lg:gap-y-5 p-4 md:p-5 bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="inline-flex justify-center items-center">
                    <span class="w-2 h-2 inline-block bg-green-500  rounded-full mr-2"></span>
                    <span class="text-xs font-semibold uppercase text-gray-600 dark:text-gray-400">{% translate "Jobs" %}</span>
                </div>
                <div class="text-center">
                    <h3 class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-gray-800 dark:text-gray-200">
                        {{ request.user.jobs.count }}
                    </h3>
                </div>
                {% comment %}
                    <dl class="flex justify-center items-center divide-x divide-gray-200 dark:divide-gray-700">
                    <dt class="pr-3">
                        <span class="text-green-600">
                            <svg class="inline-block w-4 h-4 self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                            </svg>
                            <span class="inline-block text-sm">1.7%</span>
                        </span>
                        <span class="block text-sm text-gray-500">change</span>
                    </dt>
                    <dd class="text-left pl-3">
                        <span class="text-sm font-semibold text-gray-800 dark:text-gray-200">5</span>
                        <span class="block text-sm text-gray-500">last week</span>
                    </dd>
                </dl>
                {% endcomment %}
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col gap-y-3 lg:gap-y-5 p-4 md:p-5 bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="inline-flex justify-center items-center">
                    <span class="w-2 h-2 inline-block bg-green-500 rounded-full mr-2"></span>
                    <span class="text-xs font-semibold uppercase text-gray-600 dark:text-gray-400">
                        {% translate "Special Assignments" %}
                    </span>
                </div>
                <div class="text-center">
                    <h3 class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-gray-800 dark:text-gray-200">
                        {{ request.user.bookkeeper.get_proxy_model.special_assignments.count }}
                    </h3>
                </div>
                {% comment  %}
                    <dl class="flex justify-center items-center divide-x divide-gray-200 dark:divide-gray-700">
                    <dt class="pr-3">
                        <span class="text-green-600">
                            <svg class="inline-block w-4 h-4 self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z" />
                            </svg>
                            <span class="inline-block text-sm">5.6%</span>
                        </span>
                        <span class="block text-sm text-gray-500">change</span>
                    </dt>
                    <dd class="text-left pl-3">
                        <span class="text-sm font-semibold text-gray-800 dark:text-gray-200">7</span>
                        <span class="block text-sm text-gray-500">last week</span>
                    </dd>
                </dl>
                {% endcomment %}
            </div>
            <!-- End Card -->
            <!-- Card -->
            <div class="flex flex-col gap-y-3 lg:gap-y-5 p-4 md:p-5 bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-800">
                <div class="inline-flex justify-center items-center">
                    <span class="w-2 h-2 inline-block bg-red-500 rounded-full mr-2"></span>
                    <span class="text-xs font-semibold uppercase text-gray-600 dark:text-gray-400">
                        {% translate "Past due jobs" %}
                    </span>
                </div>
                <div class="text-center">
                    <h3 class="text-3xl sm:text-4xl lg:text-5xl font-semibold text-gray-800 dark:text-gray-200">
                        {{ request.user.bookkeeper.get_proxy_model.get_past_due_jobs.count }}
                    </h3>
                </div>
                {% comment %}
                    <dl class="flex justify-center items-center divide-x divide-gray-200 dark:divide-gray-700">
                    <dt class="pr-3">
                        <span class="text-red-600">
                            <svg class="inline-block w-4 h-4 self-center" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
                            </svg>
                            <span class="inline-block text-sm">5.6%</span>
                        </span>
                        <span class="block text-sm text-gray-500">change</span>
                    </dt>
                    <dd class="text-left pl-3">
                        <span class="text-sm font-semibold text-gray-800 dark:text-gray-200">7</span>
                        <span class="block text-sm text-gray-500">last week</span>
                    </dd>
                </dl>
                {% endcomment %}
            </div>
            <!-- End Card -->
        </div>
        <!-- End Grid -->
    </div>
    <!-- End Card Section -->
    <!-- End Stats -->
    <!-- Start Tables -->
    <div class="grid gap-4 sm:grid-cols-1 md:grid-cols-2">
        <div>
            <!-- Table Section -->
            <div class="max-w-[100rem] lg:px-4 lg:py-5 mx-auto">
                {% if request.user.bookkeeper.get_proxy_model.get_tasks %}
                    <!-- Card -->
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                        <div class="h-80 overflow-y-auto py-4 md:py-5">
                            <!-- Header -->
                            <div class=" border-b border-gray-200 dark:border-gray-700 mb-3 pb-3 px-3">
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">{% translate "Tasks" %}</h2>
                            </div>
                            <!-- End Header -->
                            <!-- Start Table -->
                            <section id="bookkeeper-tasks-table-wrapper">
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-slate-900">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Title" %}
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Job" %}
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Status" %}
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Due date" %}
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                        {% for task in request.user.bookkeeper.get_proxy_model.get_tasks %}
                                            <tr>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="px-6 py-2">
                                                        <div class="flex items-center gap-x-2">
                                                            <div class="grow">
                                                                <a href="{% url 'dashboard:task:update' task.pk %}"
                                                                   class="text-sm text-gray-600 dark:text-gray-400">
                                                                    {{ task.title|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING_WIDGETS }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="px-6 py-2">
                                                        <a href="{% url 'dashboard:job:details' task.job.pk %}"
                                                           class="text-sm text-gray-600 dark:text-gray-400">
                                                            {{ task.job.title|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING_WIDGETS }}
                                                        </a>
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="px-6 py-2">
                                                        {% bw_badge code=task.status text=task.get_status_display size="sm" is_very_small_font=True %}
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    {% bw_date date_txt=task.due_date is_in_table_list=True %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                            <!-- End Table -->
                        </div>
                        <!-- Footer -->
                        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
                            <div class="inline-flex items-center gap-x-2"></div>
                            <div>
                                <div class="inline-flex gap-x-2">
                                    <a href="{% url 'dashboard:task:list' %}"
                                       class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                        {% translate "All" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer -->
                    </div>
                    <!-- End Card -->
                {% else %}

                    {% include "bw_ui_components/global/empty_card.html" with label="tasks" %}

                {% endif %}
            </div>
            <!-- End Table Section -->
        </div>
        <!-- ... -->
        <div>
            <!-- Table Section -->
            <div class="max-w-[100rem] lg:px-4 lg:py-5 mx-auto">
                {% if request.user.jobs.all %}
                    <!-- Card -->
                    <div class="flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
                        <div class="h-80 overflow-y-auto py-4 md:py-5">
                            <!-- Header -->
                            <div class=" border-b border-gray-200 dark:border-gray-700 mb-3 pb-3 px-3">
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">{% translate "Jobs" %}</h2>
                            </div>
                            <!-- End Header -->
                            <!-- Start Table -->
                            <section id="bookkeeper-table-wrapper">
                                <table class="min-w-full divide-y divide-gray-200 dark:divide-gray-700">
                                    <thead class="bg-gray-50 dark:bg-slate-900">
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Title" %}
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Status" %}
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "State" %}
                                                    </span>
                                                </div>
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left">
                                                <div class="flex items-center gap-x-2">
                                                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                                                        {% translate "Due date" %}
                                                    </span>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="divide-y divide-gray-200 dark:divide-gray-700">
                                        {% for job in request.user.jobs.all %}
                                            <tr>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="px-6 py-2">
                                                        <div class="flex items-center gap-x-2">
                                                            <div class="grow">
                                                                <a href="{% url 'dashboard:job:details' job.pk %}"
                                                                   class="text-sm text-gray-600 dark:text-gray-400">
                                                                    {{ job.title|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING_WIDGETS }}
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="px-6 py-2">
                                                        {% bw_badge code=job.status text=job.get_status_display size="sm" is_very_small_font=True %}
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    <div class="px-6 py-2">
                                                        {% bw_badge code=job.state text=job.get_state_display size="sm" is_very_small_font=True %}
                                                    </div>
                                                </td>
                                                <td class="h-px w-px whitespace-nowrap">
                                                    {% bw_date date_txt=job.due_date is_in_table_list=True %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </section>
                            <!-- End Table -->
                        </div>
                        <!-- Footer -->
                        <div class="px-6 py-4 grid gap-3 md:flex md:justify-between md:items-center border-t border-gray-200 dark:border-gray-700">
                            <div class="inline-flex items-center gap-x-2"></div>
                            <div>
                                <div class="inline-flex gap-x-2">
                                    <a href="{% url 'dashboard:job:list' %}"
                                       class="py-2 px-3 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                        {% translate "All" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer -->
                    </div>
                    <!-- End Card -->
                {% else %}

                    {% include "bw_ui_components/global/empty_card.html" with label="jobs" %}

                {% endif %}
            </div>
            <!-- End Table Section -->
        </div>
    </div>
    <!-- End Tables -->
    <!-- Start Special Assignments Table -->
    <!-- Table Section -->
    <div class="max-w-[100rem] py-5 mx-auto">
        <!-- Card -->
        <div class="flex flex-col">
            <div class="-m-1.5 overflow-x-auto">
                <div class="p-1.5 min-w-full inline-block align-middle">
                    <div class="overflow-hidden bg-white border border-gray-200 shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700">
                        <!-- Header -->
                        <div class="grid gap-3 px-6 py-4 border-b border-gray-200 md:flex md:justify-between md:items-center dark:border-gray-700">
                            <div>
                                <h2 class="text-xl font-semibold text-gray-800 dark:text-gray-200">
                                    {% translate "Special Assignments" %}
                                </h2>
                                <!-- <p class="text-sm text-gray-600 dark:text-gray-400">
                                    Keys you have generated to connect with third-party clients or access the <a class="inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium" href="#">Preline API.</a>
                                </p> -->
                            </div>
                        </div>
                        <!-- End Header -->
                        <!-- Table -->
                        {% if request.user.bookkeeper.get_proxy_model.special_assignments.all %}

                            {% include "bw_components/special_assignment/mini_table_list.html" with is_checkbox_enabled=False is_show_created_at=IS_SHOW_CREATED_AT header_title="Special assignments" header_subtitle="Special assignments custom specific assignments to clients" app_label="special_assignment" pagination_list_url_name="dashboard:special_assignment:list" is_actions_menu_enabled=False actions_items="show" actions_app_name="dashboard:special_assignment" actions_base_url="dashboard:special_assignment" base_url_name="dashboard:special_assignment" filter_cancel_url="dashboard:special_assignment:list" page_obj=request.user.bookkeeper.get_proxy_model.special_assignments.all %}

                        {% else %}

                            {% include "bw_ui_components/global/empty_card.html" with label="special assignments" %}

                        {% endif %}
                        <!-- End Table -->
                        <!-- Footer -->
                        <div class="grid gap-3 px-6 py-4 border-t border-gray-200 md:flex md:justify-between md:items-center dark:border-gray-700">
                            <div>
                                <p class="text-sm text-gray-600 dark:text-gray-400">
                                    <span class="font-semibold text-gray-800 dark:text-gray-200">6</span>
                                    {% translate "results" %}
                                </p>
                            </div>
                            <div>
                                <div class="inline-flex gap-x-2">
                                    <a href="{% url 'dashboard:special_assignment:list' %}"
                                       class="inline-flex items-center justify-center gap-2 px-3 py-2 text-sm font-medium text-gray-700 align-middle transition-all bg-white border rounded-md shadow-sm hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800">
                                        {% translate "All" %}
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- End Footer -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Card -->
    </div>
    <!-- End Table Section -->
    <!-- End Special Assignments Table -->
    <!-- End Content -->
{% endblock dashboard_content_block %}
