{% extends "layouts/dashboard_base.html.jinja" %}

{% block dashboard_content %}
    <!-- Start Content -->
    <div class="max-w-[100rem] py-6 mx-auto">
        {% block dashboard_content_block %}
        {% endblock dashboard_content_block %}
    </div>
    <!-- End Content -->
{% endblock dashboard_content %}
