@media print {
  @page {
    size: landscape;
    margin: 8mm;
  }

  body {
    background: white !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  header,
  aside,
  #hs-sidebar-content-push,
  nav[aria-label="Global"],
  .print\:hidden {
    display: none !important;
  }

  .min-w-full {
    width: 100% !important;
  }
}
