{% if status is True %}
    <div class="{% if is_tooltip_enabled is True %}
                    hs-tooltip
                {% endif %}
                inline-block">
        <button type="button" class="hs-tooltip-toggle">
            <!-- Icon -->
            <span class="inline-flex justify-center items-center w-[23px] h-[23px] rounded-full bg-green-100 text-green-500">
                <svg class="w-3 h-3"
                     xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     viewBox="0 0 16 16">
                    <path d="M12.736 3.97a.733.733 0 0 1 1.047 0c.286.289.29.756.01 1.05L7.88 12.01a.733.733 0 0 1-1.065.02L3.217 8.384a.757.757 0 0 1 0-1.06.733.733 0 0 1 1.047 0l3.052 3.093 5.4-6.425a.247.247 0 0 1 .02-.022Z" />
                </svg>
            </span>
            <!-- End Icon -->
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                  role="tooltip">{{ true_tooltip_txt }}</span>
        </button>
    </div>
{% else %}
    <div class="{% if is_tooltip_enabled is True %}
                    hs-tooltip
                {% endif %}
                inline-block">
        <button type="button" class="hs-tooltip-toggle">
            <!-- Icon -->
            <span class="inline-flex justify-center items-center w-[23px] h-[23px] rounded-full bg-red-100 text-red-500">
                <svg class="w-3 h-3"
                     xmlns="http://www.w3.org/2000/svg"
                     width="16"
                     height="16"
                     fill="currentColor"
                     viewBox="0 0 16 16">
                    <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                </svg>
            </span>
            <!-- End Icon -->
            <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                  role="tooltip">{{ false_tooltip_txt }}</span>
        </button>
    </div>
{% endif %}
