<div class="hs-tooltip inline-block mx-1">
    <button type="button"
            class="hs-tooltip-toggle inline-flex flex-shrink-0 justify-center items-center gap-2 h-[1.5rem] w-[1.5rem] rounded-full border border-transparent font-semibold bg-indigo-100 text-indigo-500 hover:text-white hover:bg-indigo-500 focus:outline-none focus:ring-2 focus:ring-indigo-100 focus:ring-offset-2 transition-all text-sm  dark:focus:ring-offset-gray-800"
            data-hs-overlay="#{{ modal_css_id }}">
        <svg xmlns="http://www.w3.org/2000/svg"
             width="16"
             height="16"
             fill="currentColor"
             class="w-4 h-4"
             viewBox="0 0 16 16">
            <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704l1.323-6.208Zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0Z" />
        </svg>
        <span class="{{ BW_PRELINE_SPAN_TOOLTIP_CSS_CLASSES }}" role="tooltip">
            {{ tooltip_txt|safe }}
        </span>
    </button>
</div>
