{% extends "bw_components/layouts/table_list_base.html" %}

{% load i18n %}

{# Start Table Header #}
{% block header_title %}
    {% translate header_title %}
{% endblock header_title %}
{# End Table Header #}
{# Start Table Subtitle #}
{% block header_subtitle %}
    {% translate header_subtitle %}
{% endblock header_subtitle %}
{# End Table Subtitle #}
{# Start Table ID Block #}
{% block table_id_block %}
    {{ app_label|add:'_table' }}
{% endblock table_id_block %}
{# End Table ID Block #}
{# Start Custom Css Class #}
{% block custom_css_class_name %}
    clients-table-list
{% endblock custom_css_class_name %}
{# End Custom Css Class #}
{# Start Create Button Block #}
{% block create_btn_block %}
    {% component "tl_create_btn" app_name=app_label actions_base_url=actions_base_url %}
{% endblock create_btn_block %}
{# End Create Button Block #}
{# Start Table Header Columns #}
{% block thead_block %}
    <tr>
        {% if is_checkbox_enabled is True %}
            <th scope="col" class="pl-6 py-3 text-left">
                <label for="{{ column|add:'-checkbox' }}" class="flex">
                    <input type="checkbox"
                           class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 {{ BW_DISABLED_DISABLED_INPUTS_CSS_CLASSES }} {{ BW_BASE_INPUT_CSS_CLASSES }}"
                           id="{{ column|add:'-checkbox' }}"
                           disabled />
                    <span class="sr-only">{{ column|title }}</span>
                </label>
            </th>
        {% endif %}
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Title" %}
                </span>

                {% include "bw_components/global/table_list/sort_icon.html" %}

            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Client" %}
                </span>

                {% include "bw_components/global/table_list/sort_icon.html" %}

            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Manager" %}
                </span>

                {% include "bw_components/global/table_list/sort_icon.html" %}

            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Assigned by" %}
                </span>

                {% include "bw_components/global/table_list/sort_icon.html" %}

            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Reply(s)" %}
                </span>

                {% include "bw_components/global/table_list/sort_icon.html" %}

            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left disable-sort">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Status" %}
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left disable-sort">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Seen" %}
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left disable-sort">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Start date" %}
                </span>
            </div>
        </th>
        <th scope="col" class="px-6 py-3 text-left disable-sort">
            <div class="flex items-center gap-x-2">
                <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                    {% translate "Due date" %}
                </span>
            </div>
        </th>
        {% if is_show_created_at is True %}
            <th scope="col" class="px-6 py-3 text-left">
                <div class="flex items-center gap-x-2">
                    <span class="text-xs font-semibold uppercase tracking-wide text-gray-800 dark:text-gray-200">
                        {% translate "Created" %}
                    </span>

                    {% include "bw_components/global/table_list/sort_icon.html" %}

                </div>
            </th>
        {% endif %}
        <th scope="col" class="px-6 py-3 text-left disable-sort">
            <div class="flex items-center gap-x-2"></div>
        </th>
    </tr>
{% endblock thead_block %}
{# End Table Header Columns #}
{# Start Table Body #}
{% block tbody_block %}
    {% for object in object_list %}
        <tr>
            {% if is_checkbox_enabled is True %}
                <td class="h-px w-px whitespace-nowrap">
                    <div class="pl-6 py-3">
                        <label for="{{ object.pk|add:'-checkbox' }}" class="flex">
                            <input type="checkbox"
                                   class="shrink-0 border-gray-200 rounded text-blue-600 pointer-events-none focus:ring-blue-500 dark:bg-gray-800 dark:border-gray-700 dark:checked:bg-blue-500 dark:checked:border-blue-500 dark:focus:ring-offset-gray-800 {{ BW_DISABLED_DISABLED_INPUTS_CSS_CLASSES }} {{ BW_BASE_INPUT_CSS_CLASSES }}"
                                   id="{{ object.pk|add:'-checkbox' }}"
                                   disabled />
                            <span class="sr-only">{{ object.name|title }}</span>
                        </label>
                    </div>
                </td>
            {% endif %}
            {# Start Title #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    
                    <a href="{% url base_url_name|add:':details' object.pk %}">
                        {% if object.attachment %} 
                    <div class="hs-tooltip inline-block mr-1 [--placement:right]">
                        <button type="button" class="hs-tooltip-toggle text-sm text-gray-600 dark:text-gray-400">
                            <i class="fa-solid fa-paperclip"></i>
                          <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700" role="tooltip">
                            {% translate "Assignment contains attachment file" %}
                          </span>
                        </button>
                      </div>
                    {% endif %}
                        <span class="text-sm text-gray-600 dark:text-gray-400">{{ object.title|truncatechars:DEFAULT_TEMPLATE_TABLE_LIST_TRUNCATED_STRING }}</span>
                    </a>
                </div>
            </td>
            {# End Title #}
            {# Start Client #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    <a class="{{ BW_PRELINE_ANCHOR_TAG_DEFAULT_COLOR }} text-sm"
                       href="{% url 'dashboard:client:details' object.client.pk %}">
                        {{ object.client.name }}
                    </a>
                </div>
            </td>
            {# End Client #}
            {# Start Manager #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    <a href="#" class="{{ BW_PRELINE_ANCHOR_TAG_DEFAULT_COLOR }} text-sm">{{ object.get_managed_user }}</a>
                </div>
            </td>
            {# End Manager #}
            {# Start Assigned by #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    <a href="#" class="{{ BW_PRELINE_ANCHOR_TAG_DEFAULT_COLOR }} text-sm">
                        {{ object.assigned_by.fullname }}
                    </a>
                </div>
            </td>
            {# End Assigned by #}
            {# Start Reply(s) #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    <span class="text-sm text-gray-600 dark:text-gray-400">
                        {{ object.discussions.count }}
                    </span>
                </div>
            </td>
            {# End Reply(s) #}
            {# Start Status #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    {% bw_badge code=object.status text=object.get_status_display is_solid=False size="sm" %}
                </div>
            </td>
            {# End Status #}
            {# Start Seen #}
            <td class="h-px w-px whitespace-nowrap">
                <div class="px-6 py-3">
                    {% translate "Assistant opened and seen by manager" as true_tooltip_txt %}
                    {% translate "Assistant not open yet by manager" as false_tooltip_txt %}

                    {% include "bw_components/global/check_times_icon.html" with status=object.is_seen is_tooltip_enabled=True true_tooltip_txt=true_tooltip_txt false_tooltip_txt=false_tooltip_txt %}

                </div>
            </td>
            {# End Seen #}
            {# Start Start Date #}
            <td class="h-px w-px whitespace-nowrap">
                {% bw_date date_txt=object.start_date is_in_table_list=True %}
            </td>
            {# End Start Date #}
            {# Start Due Date #}
            <td class="h-px w-px whitespace-nowrap">
                {% bw_date date_txt=object.due_date is_in_table_list=True %}
            </td>
            {# End Due Date #}
            {% if is_show_created_at is True %}
                <td class="h-px w-px whitespace-nowrap">
                    {% bw_date date_txt=object.created_at is_in_table_list=True %}
                </td>
            {% endif %}
            <td class="h-px w-px whitespace-nowrap text-center">
                {% if is_actions_menu_enabled is True %}
                    {% bw_actions_dropdown actions_items=actions_items actions_base_url=actions_base_url actions_app_name=actions_app_name object=object %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock tbody_block %}
{# End Table Body #}
{# Start Table Results #}
{% block results_block %}
    {{ object_list.count }}
{% endblock results_block %}
{# End Table Results #}
{# Start Table Pagination #}
{% block pagination_block %}

    {% include "components/inc/dashboard/table_list/table_list_pagination.html" with page_obj=page_obj pagination_list_url_name=pagination_list_url_name %}

{% endblock pagination_block %}
{# End Table Pagination #}
