{% load widget_tweaks bw_form_helpers %}
{% load i18n %}

<div class="mt-3 flex flex-col bg-white border shadow-sm rounded-xl dark:bg-gray-800 dark:border-gray-700 dark:shadow-slate-700/[.7]">
    <div class="p-4 md:p-5">
        <h3 class="text-lg border-b mb-3 pb-2 font-bold text-gray-800 dark:text-white">
            {{ filter_form_title }}
        </h3>
        <form method="{{ filter_form_method }}"
              id="{{ filter_form_id }}"
              action="{{ filter_form_action }}">
            <fieldset form="{{ filter_form_id }}"
                      {% if is_disabled is True %}disabled{% endif %}>
                <div class="flex flex-nowrap">
                    {# {{ filter_form.as_p }} #}
                    {% for filter_field in filter_form %}
                    {% bw_get_form_widget_attrs_as_dict filter_field.field as widget_attrs %}
                    {{ widget_attrs }}
                    {% endfor %}
                </div>
            </fieldset>
        </form>
    </div>
    <div class="bg-gray-100 border-t rounded-b-xl py-2 px-4 md:py-2 md:px-5 dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-row-reverse">
            <div class="hs-tooltip inline-block">
                <button type="submit"
                        {% if is_disabled is True %}disabled{% endif %}
                        form="{{ filter_form_id }}"
                        class="hs-tooltip-toggle inline-flex flex-shrink-0 h-[2.375rem] w-[2.375rem] py-3 px-4 justify-center items-center gap-2 rounded-md bg-blue-100 border border-transparent font-semibold text-blue-500 hover:text-white hover:bg-blue-500 focus:outline-none focus:ring-2 ring-offset-white focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800 mx-1">
                    <i class="fa-solid fa-filter"></i>
                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                          role="tooltip">{% translate "Filter" %}</span>
                </button>
            </div>
            <div class="hs-tooltip inline-block">
                <a href="{{ filter_cancel_url }}"
                   id="resetFilterBtn"
                   data-form="{{ filter_form_id }}"
                   class="hs-tooltip-toggle inline-flex flex-shrink-0 h-[2.375rem] w-[2.375rem] justify-center items-center gap-2 rounded-md py-3 px-4inline-flex bg-gray-300 border border-transparent font-semibold text-gray-800 hover:text-white hover:bg-gray-800 focus:outline-none focus:ring-2 ring-offset-white focus:ring-gray-800 focus:ring-offset-2 transition-all text-sm dark:bg-gray-700 dark:hover:bg-gray-900 dark:hover:border-gray-900 dark:text-white dark:focus:ring-gray-900 dark:focus:ring-offset-gray-800">
                    <i class="fa-solid fa-eraser"></i>
                    <span class="hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible opacity-0 transition-opacity inline-block absolute invisible z-10 py-1 px-2 bg-gray-900 text-xs font-medium text-white rounded-md shadow-sm dark:bg-slate-700"
                          role="tooltip">{% translate "Reset filter" %}</span>
                </a>
            </div>
        </div>
    </div>
</div>
