{% extends "core/layouts/dashboard_base.html" %}

{% block dashboard_content %}
    <!-- Start Content -->
    <div class="max-w-[100rem] mx-auto">
        {% block dashboard_content_block %}
        {% endblock dashboard_content_block %}
    </div>
    <!-- End Content -->
    {# Start Info Modals #}
    {% bw_blockquote quote_txt=bw_section_description.job modal_css_id=BW_INFO_MODAL_CSS_CLASSES.job.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.job.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.important_contact modal_css_id=BW_INFO_MODAL_CSS_CLASSES.important_contact.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.important_contact.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.cfo modal_css_id=BW_INFO_MODAL_CSS_CLASSES.cfo.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.cfo.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.client_account modal_css_id=BW_INFO_MODAL_CSS_CLASSES.client_account.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.client_account.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.special_assignment modal_css_id=BW_INFO_MODAL_CSS_CLASSES.special_assignment.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.special_assignment.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.note modal_css_id=BW_INFO_MODAL_CSS_CLASSES.note.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.note.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.document modal_css_id=BW_INFO_MODAL_CSS_CLASSES.document.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.document.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.client modal_css_id=BW_INFO_MODAL_CSS_CLASSES.client.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.client.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.job_category modal_css_id=BW_INFO_MODAL_CSS_CLASSES.job_category.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.job_category.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.discussion modal_css_id=BW_INFO_MODAL_CSS_CLASSES.discussion.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.discussion.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.task modal_css_id=BW_INFO_MODAL_CSS_CLASSES.task.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.task.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.bookkeeper modal_css_id=BW_INFO_MODAL_CSS_CLASSES.bookkeeper.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.bookkeeper.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.assistant modal_css_id=BW_INFO_MODAL_CSS_CLASSES.assistant.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.assistant.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.manager modal_css_id=BW_INFO_MODAL_CSS_CLASSES.manager.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.manager.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.site_settings modal_css_id=BW_INFO_MODAL_CSS_CLASSES.site_settings.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.site_settings.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.client_category modal_css_id=BW_INFO_MODAL_CSS_CLASSES.client_category.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.client_category.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.requested_assignment modal_css_id=BW_INFO_MODAL_CSS_CLASSES.requested_assignment.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.requested_assignment.tooltip_txt %}
    {% bw_blockquote quote_txt=bw_section_description.staff_briefcase modal_css_id=BW_INFO_MODAL_CSS_CLASSES.staff_briefcase.cssID modal_title=BW_INFO_MODAL_CSS_CLASSES.staff_briefcase.tooltip_txt %}
    {# End Info Modals #}
{% endblock dashboard_content %}
