<!DOCTYPE html>
{% nospaces %}
<html lang="en" class="h-full">
    <head>

        {% include "core/inc/meta_tags.html" with get_web_app_settings=get_web_app_settings %}

        <title>
            {% block title %}
                {{ title }}
            {% endblock title %}
        </title>

        {% include "core/inc/css.html" %}

        {% block externalcss %}
        {% endblock externalcss %}
    </head>
    <body class="flex h-full">
        <div class="max-w-full flex flex-col mx-auto w-full h-full">
            <!-- ========== HEADER ========== -->
            {% #home-top-navbar perms=perms request=request %}
            {% /home-top-navbar %}
            <!-- ========== END HEADER ========== -->
            {% comment  %}
            <!-- ========== ANNOUNCEMENT BANNER ========== -->
            {% #announcement-banner %}
            {% /announcement-banner %}
            <!-- ========== END ANNOUNCEMENT BANNER ========== -->
            {% endcomment %}
            <!-- ========== MAIN CONTENT ========== -->
            <main id="home-content" role="main" >
                {# Start Flash Message #}
                {% #flash-messages messages=messages %}
                {% /flash-messages %}
                {# End Flash Message #}
                {% block home_content %}
                {% endblock home_content %}
            </main>
            <!-- ========== END MAIN CONTENT ========== -->
            <!-- ========== FOOTER ========== -->
            {% #home-footer perms=perms request=request %}
            {% /home-footer %}
            <!-- ========== END FOOTER ========== -->
            
            <!-- ========== COOKIE BANNER ========== -->
            {% #cookie-banner request=request perms=perms %}
            {% /cookie-banner %}
            <!-- ========== END COOKIE BANNER ========== -->
        </div>

        {% include "core/inc/js.html" %}

        {% block externaljs %}
        {% endblock externaljs %}
    </body>
</html>
{% endnospaces %}
